test/sh/flows.json
[
    {
        "id": "c0151475.218f98",
        "type": "tab",
        "label": "Test Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "85fa874.600d378",
        "type": "googlesmarthome-client",
        "name": "Google",
        "enabledebug": true,
        "default_lang": "it",
        "usegooglelogin": false,
        "usehttpnoderoot": true,
        "port": "",
        "httppath": "smarthome",
        "ssloffload": true,
        "accesstokenduration": "60",
        "reportinterval": "0",
        "request_sync_delay": "",
        "set_state_delay": "5",
        "info": "username: userrname\npassword: password\njwtkey: google-home.json\nclientid: client_id\nclientsecret: client_secred\n"
    },
    {
        "id": "239c652d.105f6a",
        "type": "google-mgmt",
        "z": "c0151475.218f98",
        "client": "85fa874.600d378",
        "name": "",
        "x": 330,
        "y": 60,
        "wires": [
            [
                "b4f1c6af.3c9aa8"
            ]
        ]
    },
    {
        "id": "b4f1c6af.3c9aa8",
        "type": "debug",
        "z": "c0151475.218f98",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 60,
        "wires": []
    },
    {
        "id": "3b5fad59.292ad2",
        "type": "debug",
        "z": "c0151475.218f98",
        "name": "Cucina",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 340,
        "wires": []
    },
    {
        "id": "d1f484f4.4d7dc8",
        "type": "inject",
        "z": "c0151475.218f98",
        "name": "AvailableChannels",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "AvailableChannels",
        "payload": "[{\"key\":\"rai1\",\"names\":[\"Rai 1\"],\"number\":\"1\"},{\"key\":\"rai1_hd\",\"names\":[\"Rai 1 HD\"],\"number\":\"501\"},{\"key\":\"rai2\",\"names\":[\"Rai 2\"],\"number\":\"2\"},{\"key\":\"rai2_hd\",\"names\":[\"Rai 2 HD\"],\"number\":\"502\"},{\"key\":\"rai3\",\"names\":[\"Rai 3\"],\"number\":\"3\"},{\"key\":\"rai3_hd\",\"names\":[\"Rai 3 HD\"],\"number\":\"503\"},{\"key\":\"realtime\",\"names\":[\"Realtime\"],\"number\":\"31\"}]",
        "payloadType": "json",
        "x": 190,
        "y": 380,
        "wires": [
            [
                "bab53c06.fc9c3"
            ]
        ]
    },
    {
        "id": "eb631917.ddc648",
        "type": "inject",
        "z": "c0151475.218f98",
        "name": "AvailableModes",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "AvailableModes",
        "payload": "[{\"name\":\"load_mode\",\"name_values\":[{\"name_synonym\":[\"load\",\"size\",\"load size\"],\"lang\":\"en\"}],\"settings\":[{\"setting_name\":\"small_load\",\"setting_values\":[{\"setting_synonym\":[\"small\",\"half\"],\"lang\":\"en\"}]},{\"setting_name\":\"medium_load\",\"setting_values\":[{\"setting_synonym\":[\"medium\",\"normal\"],\"lang\":\"en\"}]},{\"setting_name\":\"large_load\",\"setting_values\":[{\"setting_synonym\":[\"large\",\"full\"],\"lang\":\"en\"}]}],\"ordered\":true},{\"name\":\"temp_mode\",\"name_values\":[{\"name_synonym\":[\"temperature\",\"temp\"],\"lang\":\"en\"}],\"settings\":[{\"setting_name\":\"hot_temp\",\"setting_values\":[{\"setting_synonym\":[\"hot\",\"white\"],\"lang\":\"en\"}]},{\"setting_name\":\"warm_temp\",\"setting_values\":[{\"setting_synonym\":[\"warm\",\"color\"],\"lang\":\"en\"}]},{\"setting_name\":\"cold_temp\",\"setting_values\":[{\"setting_synonym\":[\"cold\",\"delicate\"],\"lang\":\"en\"}]}],\"ordered\":false}]",
        "payloadType": "json",
        "x": 200,
        "y": 620,
        "wires": [
            [
                "bab53c06.fc9c3"
            ]
        ]
    },
    {
        "id": "76a8ea99.082b24",
        "type": "inject",
        "z": "c0151475.218f98",
        "name": "AvailableToggles",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "AvailableToggles",
        "payload": "[\"quiet\",[\"Silenzio\",\"Basso\"],{\"name\":\"extra_bass\",\"name_values\":[\"Extra bass\",\"Loud bass\",\"Powerful bass\"]},{\"lang\":\"en\",\"name_values\":[\"Energy Saving\",\"Low Energy\"]},{\"name\":\"extra_bass1\",\"name_values\":[{\"lang\":\"en\",\"name_synonym\":[\"Extra bass\",\"Loud bass\",\"Powerful bass\"]}]}]",
        "payloadType": "json",
        "x": 190,
        "y": 660,
        "wires": [
            [
                "bab53c06.fc9c3"
            ]
        ]
    },
    {
        "id": "2808436c.5ff3ec",
        "type": "inject",
        "z": "c0151475.218f98",
        "name": "AvailableInputs",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "AvailableInputs",
        "payload": "[\"hdmi 1\",{\"key\":\"hdmi_2\",\"names\":[\"hdmi 2\",\"Second HDMI\",\"DVD Reader\",\"DVD\"]},{\"names\":[\"hdmi 3\",\"Third HDMI\",\"Playstation 5\",\"PS5\"]}]",
        "payloadType": "json",
        "x": 200,
        "y": 300,
        "wires": [
            [
                "bab53c06.fc9c3"
            ]
        ]
    },
    {
        "id": "b330bd.26b8ef4",
        "type": "inject",
        "z": "c0151475.218f98",
        "name": "AvailableApplications",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "AvailableApplications",
        "payload": "[\"YouTube\",{\"key\":\"video\",\"names\":[\"Google Video\",\"Video\"]},{\"names\":[\"Amazon Prime Video\",\"Prime Video\"]}]",
        "payloadType": "json",
        "x": 180,
        "y": 340,
        "wires": [
            [
                "bab53c06.fc9c3"
            ]
        ]
    },
    {
        "id": "a5782b1b.e120f8",
        "type": "google-device",
        "z": "c0151475.218f98",
        "client": "85fa874.600d378",
        "name": "MultiDevice Cucina",
        "topic": "cucina",
        "room_hint": "Cucina",
        "device_type": "TV",
        "trait_appselector": true,
        "trait_channel": true,
        "trait_inputselector": true,
        "trait_mediastate": true,
        "trait_onoff": true,
        "trait_transportcontrol": true,
        "trait_modes": true,
        "trait_volume": true,
        "trait_toggles": true,
        "trait_brightness": true,
        "trait_colorsetting": true,
        "appselector_file": "[\"YouTube\",{\"key\":\"video\",\"names\":[\"Google Video\",\"Video\"]},{\"names\":[\"Amazon Prime Video\",\"Prime Video\"]}]",
        "appselector_type": "json",
        "channel_file": "[{\"key\":\"rai1\",\"names\":[\"Rai 1\"],\"number\":\"1\"},{\"key\":\"rai1_hd\",\"names\":[\"Rai 1 HD\"],\"number\":\"501\"},{\"key\":\"rai2\",\"names\":[\"Rai 2\"],\"number\":\"2\"},{\"key\":\"rai2_hd\",\"names\":[\"Rai 2 HD\"],\"number\":\"502\"},{\"key\":\"rai3\",\"names\":[\"Rai 3\"],\"number\":\"3\"},{\"key\":\"rai3_hd\",\"names\":[\"Rai 3 HD\"],\"number\":\"503\"},{\"key\":\"realtime\",\"names\":[\"Realtime\"],\"number\":\"31\"}]",
        "channel_type": "json",
        "inputselector_file": "[\"hdmi 1\",{\"key\":\"hdmi_2\",\"names\":[\"hdmi 2\",\"Second HDMI\",\"DVD Reader\",\"DVD\"]},{\"names\":[\"hdmi 3\",\"Third HDMI\",\"Playstation 5\",\"PS5\"]}]",
        "inputselector_type": "json",
        "command_only_input_selector": false,
        "ordered_inputs": false,
        "support_activity_state": false,
        "support_playback_state": false,
        "command_query_onoff": "",
        "supported_commands": [
            "CAPTION_CONTROL",
            "NEXT",
            "PAUSE",
            "PREVIOUS",
            "RESUME",
            "SEEK_RELATIVE",
            "SEEK_TO_POSITION",
            "SET_REPEAT",
            "SHUFFLE",
            "STOP"
        ],
        "volume_max_level": 100,
        "volume_can_mute_and_unmute": true,
        "volume_default_percentage": 40,
        "level_step_size": 1,
        "command_only_volume": false,
        "command_only_brightness": false,
        "command_only_colorsetting": false,
        "color_model": "rgb_temp",
        "temperature_min_k": 2000,
        "temperature_max_k": 9000,
        "modes_file": "[{\"name\":\"load_mode\",\"name_values\":[{\"name_synonym\":[\"load\",\"size\",\"load size\"],\"lang\":\"en\"}],\"settings\":[{\"setting_name\":\"small_load\",\"setting_values\":[{\"setting_synonym\":[\"small\",\"half\"],\"lang\":\"en\"}]},{\"setting_name\":\"medium_load\",\"setting_values\":[{\"setting_synonym\":[\"medium\",\"normal\"],\"lang\":\"en\"}]},{\"setting_name\":\"large_load\",\"setting_values\":[{\"setting_synonym\":[\"large\",\"full\"],\"lang\":\"en\"}]}],\"ordered\":true},{\"name\":\"temp_mode\",\"name_values\":[{\"name_synonym\":[\"temperature\",\"temp\"],\"lang\":\"en\"}],\"settings\":[{\"setting_name\":\"hot_temp\",\"setting_values\":[{\"setting_synonym\":[\"hot\",\"white\"],\"lang\":\"en\"}]},{\"setting_name\":\"warm_temp\",\"setting_values\":[{\"setting_synonym\":[\"warm\",\"color\"],\"lang\":\"en\"}]},{\"setting_name\":\"cold_temp\",\"setting_values\":[{\"setting_synonym\":[\"cold\",\"delicate\"],\"lang\":\"en\"}]}],\"ordered\":false}]",
        "modes_type": "json",
        "command_query_modes": "",
        "toggles_file": "[\"quiet\",[\"Silenzio\",\"Basso\"],{\"name\":\"extra_bass\",\"name_values\":[\"Extra bass\",\"Loud bass\",\"Powerful bass\"]},{\"lang\":\"en\",\"name_values\":[\"Energy Saving\",\"Low Energy\"]},{\"name\":\"extra_bass1\",\"name_values\":[{\"lang\":\"en\",\"name_synonym\":[\"Extra bass\",\"Loud bass\",\"Powerful bass\"]}]}]",
        "toggles_type": "json",
        "command_query_toggles": "",
        "trait_camerastream": true,
        "hls": "http://HLS",
        "hls_app_id": "HLS_APPID",
        "dash": "http://DASH",
        "dash_app_id": "DASH_APPID",
        "smooth_stream": "http://SMOOTH_STREAM",
        "smooth_stream_app_id": "SMOOTH_STREAM_APPID",
        "progressive_mp4": "http://PROGRESSIVE_MP4",
        "progressive_mp4_app_id": "PROGRESSIVE_MP4_APPID",
        "webrtc": "http://WEBRTC_SIGNALING",
        "webrtc_offer": "o=- 4611731400430051336 2 IN IP4 127.0.0.1...",
        "webrtc_ice_servers": "[{\"urls\":\"stun:stun.l.partner.com:19302\"},{\"urls\":\"turn:192.158.29.39:3478?transport=udp\",\"credential\":\"JZEOEt2V3Qb0y27GRntt2u2PAYA=\",\"username\":\"28224511:1379330808\"},{\"urls\":\"turn:192.158.29.39:3478?transport=tcp\",\"credential\":\"JZEOEt2V3Qb0y27GRntt2u2PAYA=\",\"username\":\"28224511:1379330808\"}]",
        "webrtc_ice_servers_type": "json",
        "need_auth_token": true,
        "auth_token": "Auth Token GUI",
        "passthru": true,
        "trait_scene": true,
        "scene_reversible": true,
        "trait_timer": true,
        "trait_temperaturesetting": true,
        "max_timer_limit_sec": 86400,
        "command_only_timer": false,
        "available_thermostat_modes": [
            "off",
            "heat",
            "cool",
            "on",
            "heatcool",
            "auto",
            "fan-only",
            "purifier",
            "eco",
            "dry"
        ],
        "min_threshold_celsius": "1",
        "max_threshold_celsius": "50",
        "thermostat_temperature_unit": "C",
        "buffer_range_celsius": 2,
        "command_query_temperaturesetting": "",
        "trait_temperaturecontrol": true,
        "tc_min_threshold_celsius": 0,
        "tc_max_threshold_celsius": 40,
        "tc_temperature_step_celsius": 1,
        "tc_temperature_unit_for_ux": "C",
        "tc_command_query_temperaturecontrol": "",
        "trait_humiditysetting": true,
        "min_percent": 0,
        "max_percent": 100,
        "command_query_humiditysetting": "",
        "trait_dock": true,
        "trait_locator": true,
        "trait_lockunlock": true,
        "trait_reboot": true,
        "trait_openclose": true,
        "discrete_only_openclose": false,
        "open_direction": [
            "UP",
            "DOWN",
            "LEFT",
            "RIGHT",
            "IN",
            "OUT"
        ],
        "command_query_openclose": "",
        "trait_startstop": true,
        "pausable": false,
        "available_zones": [
            "Cucina",
            "Salotto",
            "Camera di Eliana",
            "Soggiorno"
        ],
        "trait_runcycle": true,
        "trait_softwareupdate": true,
        "trait_rotation": true,
        "supports_degrees": true,
        "supports_percent": true,
        "rotation_degrees_min": 0,
        "rotation_degrees_max": 360,
        "supports_continuous_rotation": false,
        "command_only_rotation": false,
        "trait_lighteffects": true,
        "default_sleep_duration": 1800,
        "default_wake_duration": 1800,
        "supported_effects": [
            "colorLoop",
            "sleep",
            "wake"
        ],
        "trait_statusreport": true,
        "trait_cook": true,
        "supported_cooking_modes": [
            "UNKNOWN_COOKING_MODE",
            "BAKE",
            "BEAT",
            "BLEND",
            "BOIL",
            "BREW",
            "BROIL",
            "CONVECTION_BAKE",
            "COOK",
            "DEFROST",
            "DEHYDRATE",
            "FERMENT",
            "FRY",
            "GRILL",
            "KNEAD",
            "MICROWAVE",
            "MIX",
            "PRESSURE_COOK",
            "PUREE",
            "ROAST",
            "SAUTE",
            "SLOW_COOK",
            "SOUS_VIDE",
            "STEAM",
            "STEW",
            "STIR",
            "WARM",
            "WHIP"
        ],
        "food_presets_file": "[{\"food_preset_name\":\"white_rice\",\"supported_units\":[\"CUPS\"],\"food_synonyms\":[{\"synonym\":[\"White Rice\",\"Rice\"],\"lang\":\"en\"}]},{\"food_preset_name\":\"brown_rice\",\"supported_units\":[\"CUPS\"],\"food_synonyms\":[{\"synonym\":[\"Brown Rice\"],\"lang\":\"en\"}]}]",
        "food_presets_type": "json",
        "trait_fanspeed": true,
        "reversible": false,
        "supports_fan_speed_percent": false,
        "fan_speeds_ordered": true,
        "command_only_fanspeed": false,
        "available_fan_speeds_file": "[{\"speed_name\":\"speed_low\",\"speed_values\":[{\"speed_synonym\":[\"low\",\"slow\"],\"lang\":\"en\"},{\"speed_synonym\":[\"lento\",\"basso\"]}]},{\"speed_name\":\"speed_high\",\"speed_values\":[{\"speed_synonym\":[\"high\",\"fast\"],\"lang\":\"en\"},{\"speed_synonym\":[\"veloce\",\"massimo\"]}]}]",
        "available_fan_speeds_type": "json",
        "trait_sensorstate": true,
        "sensor_states_supported": [
            "AirQuality",
            "CarbonMonoxideLevel",
            "SmokeLevel",
            "FilterCleanliness",
            "WaterLeak",
            "RainDetection",
            "FilterLifeTime",
            "PreFilterLifeTime",
            "HEPAFilterLifeTime",
            "Max2FilterLifeTime",
            "CarbonDioxideLevel",
            "PM2.5",
            "PM10",
            "VolatileOrganicCompounds"
        ],
        "arm_levels_ordered": true,
        "trait_fill": true,
        "available_fill_levels_file": "[{\"level_name\":\"half_level\",\"level_values\":[{\"level_synonym\":[\"half\",\"half way\",\"one half\"],\"lang\":\"en\"}]},{\"level_name\":\"full_level\",\"level_values\":[{\"level_synonym\":[\"full\",\"all the way\",\"complete\"],\"lang\":\"en\"}]}]",
        "available_fill_levels_type": "json",
        "supports_fill_percent": false,
        "ordered_fill_levels": true,
        "trait_armdisarm": true,
        "available_arm_levels_file": "[{\"level_name\":\"L1\",\"level_values\":[{\"level_synonym\":[\"home and guarding\",\"SL1\"],\"lang\":\"en\"},{\"level_synonym\":[\"Allarme in casa\",\"SL1\"],\"lang\":\"it\"}]},{\"level_name\":\"L2\",\"level_values\":[{\"level_synonym\":[\"away and guarding\",\"SL2\"],\"lang\":\"en\"},{\"level_synonym\":[\"Allarme fuori casa\",\"SL2\"]}]}]",
        "available_arm_levels_type": "json",
        "trait_energystorage": true,
        "is_rechargeable": true,
        "query_only_energy_storage": false,
        "energy_storage_distance_unit_for_ux": "KILOMETERS",
        "trait_dispense": true,
        "supported_dispense_items_file": "[{\"item_name\":\"water\",\"item_name_synonyms\":[{\"lang\":\"en\",\"synonyms\":[\"water\"]}],\"supported_units\":[\"TEASPOONS\",\"TABLESPOONS\",\"FLUID_OUNCES\",\"CUPS\",\"PINTS\",\"QUARTS\",\"GALLONS\",\"MILLILITERS\",\"LITERS\",\"DECILITERS\"],\"default_portion\":{\"amount\":2,\"unit\":\"CUPS\"}}]",
        "supported_dispense_items_type": "json",
        "supported_dispense_presets_file": "[{\"preset_name\":\"cat_bowl\",\"preset_name_synonyms\":[{\"lang\":\"en\",\"synonyms\":[\"cat water bowl\",\"cat water dish\",\"cat water cup\"]}]},{\"preset_name\":\"glass_1\",\"preset_name_synonyms\":[{\"lang\":\"en\",\"synonyms\":[\"glass of water\",\"glass\"]}]}]",
        "supported_dispense_presets_type": "json",
        "trait_networkcontrol": true,
        "supports_enabling_guest_network": false,
        "supports_disabling_guest_network": false,
        "supports_getting_guest_network_password": false,
        "network_profiles": [
            "Kids"
        ],
        "supports_enabling_network_profile": false,
        "supports_disabling_network_profile": false,
        "supports_network_download_speedtest": false,
        "supports_network_upload_speedtest": false,
        "trait_objectdetection": true,
        "show_trait": "selected",
        "advanced_settings": true,
        "x": 790,
        "y": 400,
        "wires": [
            [
                "3b5fad59.292ad2",
                "8464b1.e8eaab5",
                "6cdc9bf4.2a90d4"
            ]
        ]
    },
    {
        "id": "88a4ec5b.56a57",
        "type": "file",
        "z": "c0151475.218f98",
        "name": "",
        "filename": "payload.json",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1270,
        "y": 400,
        "wires": [
            [
                "91772b2a.3a72b8"
            ]
        ]
    },
    {
        "id": "5de646e1.174888",
        "type": "inject",
        "z": "c0151475.218f98",
        "name": "AvailableFanSpeeds",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "AvailableFanSpeeds",
        "payload": "[{\"speed_name\":\"speed_low\",\"speed_values\":[{\"speed_synonym\":[\"low\",\"slow\"],\"lang\":\"en\"}]},{\"speed_name\":\"speed_high\",\"speed_values\":[{\"speed_synonym\":[\"high\",\"fast\"],\"lang\":\"en\"}]}]",
        "payloadType": "json",
        "x": 180,
        "y": 500,
        "wires": [
            [
                "bab53c06.fc9c3"
            ]
        ]
    },
    {
        "id": "516b9a1.a3dc964",
        "type": "inject",
        "z": "c0151475.218f98",
        "name": "AvailableFillLevels",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "AvailableFillLevels",
        "payload": "[{\"level_name\":\"half_level\",\"level_values\":[{\"level_synonym\":[\"half\",\"half way\",\"one half\"],\"lang\":\"en\"}]},{\"level_name\":\"full_level\",\"level_values\":[{\"level_synonym\":[\"full\",\"all the way\",\"complete\"],\"lang\":\"en\"}]}]",
        "payloadType": "json",
        "x": 190,
        "y": 540,
        "wires": [
            [
                "bab53c06.fc9c3"
            ]
        ]
    },
    {
        "id": "8464b1.e8eaab5",
        "type": "function",
        "z": "c0151475.218f98",
        "name": "",
        "func": "msg.payload.params = msg.params;\nmsg.payload.command = msg.command;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1080,
        "y": 400,
        "wires": [
            [
                "88a4ec5b.56a57"
            ]
        ]
    },
    {
        "id": "91772b2a.3a72b8",
        "type": "debug",
        "z": "c0151475.218f98",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1430,
        "y": 400,
        "wires": []
    },
    {
        "id": "a2623067.800c1",
        "type": "inject",
        "z": "c0151475.218f98",
        "name": "AvailableFoodPresets",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "AvailableFoodPresets",
        "payload": "[{\"food_preset_name\":\"white_rice\",\"supported_units\":[\"CUPS\"],\"food_synonyms\":[{\"synonym\":[\"White Rice\",\"Rice\"],\"lang\":\"en\"}]},{\"food_preset_name\":\"brown_rice\",\"supported_units\":[\"CUPS\"],\"food_synonyms\":[{\"synonym\":[\"Brown Rice\"],\"lang\":\"en\"}]}]",
        "payloadType": "json",
        "x": 180,
        "y": 580,
        "wires": [
            [
                "bab53c06.fc9c3"
            ]
        ]
    },
    {
        "id": "349dbc0f.dce004",
        "type": "inject",
        "z": "c0151475.218f98",
        "name": "GuestNetworkPassword",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "GuestNetworkPassword",
        "payload": "1234567890",
        "payloadType": "str",
        "x": 170,
        "y": 740,
        "wires": [
            [
                "a5782b1b.e120f8",
                "bab53c06.fc9c3"
            ]
        ]
    },
    {
        "id": "6594ffe7.70dcf",
        "type": "inject",
        "z": "c0151475.218f98",
        "name": "SupportedDispenseItems",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "SupportedDispenseItems",
        "payload": "[{\"item_name\":\"water\",\"item_name_synonyms\":[{\"lang\":\"en\",\"synonyms\":[\"water\"]}],\"supported_units\":[\"TEASPOONS\",\"TABLESPOONS\",\"FLUID_OUNCES\",\"CUPS\",\"PINTS\",\"QUARTS\",\"GALLONS\",\"MILLILITERS\",\"LITERS\",\"DECILITERS\"],\"default_portion\":{\"amount\":2,\"unit\":\"CUPS\"}}]",
        "payloadType": "json",
        "x": 170,
        "y": 420,
        "wires": [
            [
                "bab53c06.fc9c3"
            ]
        ]
    },
    {
        "id": "987eaf93.570b1",
        "type": "inject",
        "z": "c0151475.218f98",
        "name": "SupportedDispensePresets",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "SupportedDispensePresets",
        "payload": "[{\"preset_name\":\"cat_bowl\",\"preset_name_synonyms\":[{\"lang\":\"en\",\"synonyms\":[\"cat water bowl\",\"cat water dish\",\"cat water cup\"]}]},{\"preset_name\":\"glass_1\",\"preset_name_synonyms\":[{\"lang\":\"en\",\"synonyms\":[\"glass of water\",\"glass\"]}]}]",
        "payloadType": "json",
        "x": 160,
        "y": 460,
        "wires": [
            [
                "bab53c06.fc9c3"
            ]
        ]
    },
    {
        "id": "bc10ae84.38ef9",
        "type": "inject",
        "z": "c0151475.218f98",
        "name": "DispenseItems",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "DispenseItems",
        "payload": "[{\"itemName\":\"water\",\"amountRemaining\":{\"amount\":10,\"unit\":\"NO_UNITS\"},\"amountLastDispensed\":{\"amount\":11,\"unit\":\"NO_UNITS\"},\"isCurrentlyDispensing\":false},{\"itemName\":\"cat_bowl\",\"amountRemaining\":{\"amount\":12,\"unit\":\"NO_UNITS\"},\"amountLastDispensed\":{\"amount\":13,\"unit\":\"NO_UNITS\"},\"isCurrentlyDispensing\":false},{\"itemName\":\"glass_1\",\"amountRemaining\":{\"amount\":14,\"unit\":\"NO_UNITS\"},\"amountLastDispensed\":{\"amount\":15,\"unit\":\"NO_UNITS\"},\"isCurrentlyDispensing\":false}]",
        "payloadType": "json",
        "x": 200,
        "y": 780,
        "wires": [
            [
                "bab53c06.fc9c3",
                "a5782b1b.e120f8"
            ]
        ]
    },
    {
        "id": "b20005f.91069f8",
        "type": "inject",
        "z": "c0151475.218f98",
        "name": "Object Detection",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "ObjectDetection",
        "payload": "{\"named\":\"Alice\"}",
        "payloadType": "json",
        "x": 190,
        "y": 860,
        "wires": [
            [
                "a5782b1b.e120f8"
            ]
        ]
    },
    {
        "id": "53e3f7ca.522118",
        "type": "http response",
        "z": "c0151475.218f98",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 630,
        "y": 180,
        "wires": []
    },
    {
        "id": "7c508c49.aa5ec4",
        "type": "http in",
        "z": "c0151475.218f98",
        "name": "Payload",
        "url": "/payload",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 320,
        "y": 180,
        "wires": [
            [
                "9edf3963.39cb08",
                "5dab6f5e.77034"
            ]
        ]
    },
    {
        "id": "9edf3963.39cb08",
        "type": "function",
        "z": "c0151475.218f98",
        "name": "",
        "func": "msg1 = msg.payload;\nmsg.payload = \"OK\";\nconsole.log(\"\\n\\nNew message \" + JSON.stringify(msg1));\nreturn [msg, [msg1, { \"topic\" : \"getState\"}]];\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 180,
        "wires": [
            [
                "53e3f7ca.522118"
            ],
            [
                "a5782b1b.e120f8"
            ]
        ]
    },
    {
        "id": "4f63cf92.6ddc",
        "type": "inject",
        "z": "c0151475.218f98",
        "name": "AvailableArmLevels",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "AvailableArmLevels",
        "payload": "[{\"level_name\":\"L1\",\"level_values\":[{\"level_synonym\":[\"home and guarding\",\"SL1\"],\"lang\":\"en\"},{\"level_synonym\":[\"Allarme in casa\",\"SL1\"],\"lang\":\"it\"}]},{\"level_name\":\"L2\",\"level_values\":[{\"level_synonym\":[\"away and guarding\",\"SL2\"],\"lang\":\"en\"},{\"level_synonym\":[\"Allarme fuori casa\",\"SL2\"]}]}]",
        "payloadType": "json",
        "x": 180,
        "y": 700,
        "wires": [
            [
                "bab53c06.fc9c3"
            ]
        ]
    },
    {
        "id": "39c0b7dd.7494c8",
        "type": "inject",
        "z": "c0151475.218f98",
        "name": "CameraStreamAuthToken",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "CameraStreamAuthToken",
        "payload": "Auth Token",
        "payloadType": "str",
        "x": 170,
        "y": 900,
        "wires": [
            [
                "a5782b1b.e120f8"
            ]
        ]
    },
    {
        "id": "e0237e8.572fe8",
        "type": "inject",
        "z": "c0151475.218f98",
        "name": "No CameraStreamAuthToken",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "10",
        "topic": "CameraStreamAuthToken",
        "payload": "",
        "payloadType": "str",
        "x": 160,
        "y": 940,
        "wires": [
            [
                "a5782b1b.e120f8"
            ]
        ]
    },
    {
        "id": "22b74d51.90e222",
        "type": "inject",
        "z": "c0151475.218f98",
        "name": "StatusReport",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "10",
        "topic": "StatusReport",
        "payload": "{\"blocking\":true,\"deviceTarget\":\"Cucina\",\"priority\":0,\"statusCode\":\"needsSoftwareUpdate\"}",
        "payloadType": "json",
        "x": 210,
        "y": 980,
        "wires": [
            [
                "a5782b1b.e120f8"
            ]
        ]
    },
    {
        "id": "95cd3aa8.be0218",
        "type": "inject",
        "z": "c0151475.218f98",
        "name": "StatusReport empty",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "10",
        "topic": "StatusReport",
        "payload": "[]",
        "payloadType": "json",
        "x": 190,
        "y": 1020,
        "wires": [
            [
                "a5782b1b.e120f8"
            ]
        ]
    },
    {
        "id": "d6e38623.42fb68",
        "type": "inject",
        "z": "c0151475.218f98",
        "name": "on",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"topic\":\"\",\"payload\":{\"on\":true}}",
        "payloadType": "json",
        "x": 90,
        "y": 1060,
        "wires": [
            [
                "f9b996e4.ab42c8"
            ]
        ]
    },
    {
        "id": "f9b996e4.ab42c8",
        "type": "http request",
        "z": "c0151475.218f98",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "localhost:1880/payload",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 310,
        "y": 1060,
        "wires": [
            [
                "ddf30b0c.14e048"
            ]
        ]
    },
    {
        "id": "ddf30b0c.14e048",
        "type": "debug",
        "z": "c0151475.218f98",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 1060,
        "wires": []
    },
    {
        "id": "bab53c06.fc9c3",
        "type": "google-device",
        "z": "c0151475.218f98",
        "client": "85fa874.600d378",
        "name": "MultiDevice Salotto",
        "topic": "salotto",
        "room_hint": "Salotto",
        "device_type": "TV",
        "trait_appselector": true,
        "trait_channel": true,
        "trait_inputselector": true,
        "trait_mediastate": true,
        "trait_onoff": true,
        "trait_transportcontrol": true,
        "trait_modes": true,
        "trait_volume": true,
        "trait_toggles": true,
        "trait_brightness": true,
        "trait_colorsetting": true,
        "appselector_file": "applications_<id>.json",
        "appselector_type": "str",
        "channel_file": "channels_<id>.json",
        "channel_type": "str",
        "inputselector_file": "inputs_<id>.json",
        "inputselector_type": "str",
        "command_only_input_selector": false,
        "ordered_inputs": false,
        "support_activity_state": false,
        "support_playback_state": false,
        "command_query_onoff": "",
        "supported_commands": [
            "CAPTION_CONTROL",
            "NEXT",
            "PAUSE",
            "PREVIOUS",
            "RESUME",
            "SEEK_RELATIVE",
            "SEEK_TO_POSITION",
            "SET_REPEAT",
            "SHUFFLE",
            "STOP"
        ],
        "volume_max_level": 100,
        "volume_can_mute_and_unmute": true,
        "volume_default_percentage": 40,
        "level_step_size": 1,
        "command_only_volume": false,
        "command_only_brightness": false,
        "command_only_colorsetting": false,
        "color_model": "hsv_temp",
        "temperature_min_k": 2000,
        "temperature_max_k": 9000,
        "modes_file": "modes_<id>.json",
        "modes_type": "str",
        "command_query_modes": "",
        "toggles_file": "toggles_<id>.json",
        "toggles_type": "str",
        "command_query_toggles": "",
        "trait_camerastream": true,
        "hls": "http://HLS",
        "hls_app_id": "HLS_APPID",
        "dash": "http://DASH",
        "dash_app_id": "DASH_APPID",
        "smooth_stream": "http://SMOOTH_STREAM",
        "smooth_stream_app_id": "SMOOTH_STREAM_APPID",
        "progressive_mp4": "http://PROGRESSIVE_MP4",
        "progressive_mp4_app_id": "PROGRESSIVE_MP4_APPID",
        "webrtc": "http://WEBRTC_SIGNALING",
        "webrtc_offer": "o=- 4611731400430051336 2 IN IP4 127.0.0.1...",
        "webrtc_ice_servers": "[{\"urls\":\"stun:stun.l.partner.com:19302\"},{\"urls\":\"turn:192.158.29.39:3478?transport=udp\",\"credential\":\"JZEOEt2V3Qb0y27GRntt2u2PAYA=\",\"username\":\"28224511:1379330808\"},{\"urls\":\"turn:192.158.29.39:3478?transport=tcp\",\"credential\":\"JZEOEt2V3Qb0y27GRntt2u2PAYA=\",\"username\":\"28224511:1379330808\"}]",
        "webrtc_ice_servers_type": "json",
        "need_auth_token": true,
        "auth_token": "Auth Token GUI",
        "passthru": true,
        "trait_scene": true,
        "scene_reversible": true,
        "trait_timer": true,
        "trait_temperaturesetting": true,
        "max_timer_limit_sec": 86400,
        "command_only_timer": false,
        "available_thermostat_modes": [
            "off",
            "heat",
            "cool",
            "on",
            "heatcool",
            "auto",
            "fan-only",
            "purifier",
            "eco",
            "dry"
        ],
        "min_threshold_celsius": "1",
        "max_threshold_celsius": "50",
        "thermostat_temperature_unit": "C",
        "buffer_range_celsius": 2,
        "command_query_temperaturesetting": "",
        "trait_temperaturecontrol": true,
        "tc_min_threshold_celsius": 0,
        "tc_max_threshold_celsius": 40,
        "tc_temperature_step_celsius": 1,
        "tc_temperature_unit_for_ux": "C",
        "tc_command_query_temperaturecontrol": "",
        "trait_humiditysetting": true,
        "min_percent": 0,
        "max_percent": 100,
        "command_query_humiditysetting": "",
        "trait_dock": true,
        "trait_locator": true,
        "trait_lockunlock": true,
        "trait_reboot": true,
        "trait_openclose": true,
        "discrete_only_openclose": false,
        "open_direction": [
            "UP",
            "DOWN",
            "LEFT",
            "RIGHT",
            "IN",
            "OUT"
        ],
        "command_query_openclose": "",
        "trait_startstop": true,
        "pausable": false,
        "available_zones": [
            "Cucina",
            "Salotto",
            "Camera di Eliana",
            "Bagno"
        ],
        "trait_runcycle": true,
        "trait_softwareupdate": true,
        "trait_rotation": true,
        "supports_degrees": true,
        "supports_percent": true,
        "rotation_degrees_min": 0,
        "rotation_degrees_max": 360,
        "supports_continuous_rotation": false,
        "command_only_rotation": false,
        "trait_lighteffects": true,
        "default_sleep_duration": 1800,
        "default_wake_duration": 1800,
        "supported_effects": [
            "colorLoop",
            "sleep",
            "wake"
        ],
        "trait_statusreport": true,
        "trait_cook": true,
        "supported_cooking_modes": [
            "UNKNOWN_COOKING_MODE",
            "BAKE",
            "BEAT",
            "BLEND",
            "BOIL",
            "BREW",
            "BROIL",
            "CONVECTION_BAKE",
            "COOK",
            "DEFROST",
            "DEHYDRATE",
            "FERMENT",
            "FRY",
            "GRILL",
            "KNEAD",
            "MICROWAVE",
            "MIX",
            "PRESSURE_COOK",
            "PUREE",
            "ROAST",
            "SAUTE",
            "SLOW_COOK",
            "SOUS_VIDE",
            "STEAM",
            "STEW",
            "STIR",
            "WARM",
            "WHIP"
        ],
        "food_presets_file": "foodPresets_<id>.json",
        "food_presets_type": "str",
        "trait_fanspeed": true,
        "reversible": false,
        "supports_fan_speed_percent": true,
        "fan_speeds_ordered": true,
        "command_only_fanspeed": false,
        "available_fan_speeds_file": "availableFanSpeeds_<id>.json",
        "available_fan_speeds_type": "str",
        "trait_sensorstate": true,
        "sensor_states_supported": [
            "AirQuality",
            "CarbonMonoxideLevel",
            "SmokeLevel",
            "FilterCleanliness",
            "WaterLeak",
            "RainDetection",
            "FilterLifeTime",
            "PreFilterLifeTime",
            "HEPAFilterLifeTime",
            "Max2FilterLifeTime",
            "CarbonDioxideLevel",
            "PM2.5",
            "PM10",
            "VolatileOrganicCompounds"
        ],
        "arm_levels_ordered": true,
        "trait_fill": true,
        "available_fill_levels_file": "availableFillLevels_<id>.json",
        "available_fill_levels_type": "str",
        "supports_fill_percent": false,
        "ordered_fill_levels": true,
        "trait_armdisarm": true,
        "available_arm_levels_file": "availableArmLevels_<id>.json",
        "available_arm_levels_type": "str",
        "trait_energystorage": true,
        "is_rechargeable": false,
        "query_only_energy_storage": false,
        "energy_storage_distance_unit_for_ux": "KILOMETERS",
        "trait_dispense": true,
        "supported_dispense_items_file": "supportedDispenseItems_<id>.json",
        "supported_dispense_items_type": "str",
        "supported_dispense_presets_file": "supportedDispensePresets_<id>.json",
        "supported_dispense_presets_type": "str",
        "trait_networkcontrol": true,
        "supports_enabling_guest_network": false,
        "supports_disabling_guest_network": false,
        "supports_getting_guest_network_password": false,
        "network_profiles": [
            "Kids"
        ],
        "supports_enabling_network_profile": false,
        "supports_disabling_network_profile": false,
        "supports_network_download_speedtest": false,
        "supports_network_upload_speedtest": false,
        "trait_objectdetection": true,
        "show_trait": "selected",
        "advanced_settings": true,
        "x": 790,
        "y": 460,
        "wires": [
            [
                "b8fbf920.d74d68",
                "8464b1.e8eaab5",
                "6cdc9bf4.2a90d4"
            ]
        ]
    },
    {
        "id": "403ee68d.95e3c8",
        "type": "inject",
        "z": "c0151475.218f98",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "getState",
        "payloadType": "str",
        "x": 220,
        "y": 220,
        "wires": [
            [
                "a5782b1b.e120f8"
            ]
        ]
    },
    {
        "id": "49d4d8a4.5927e8",
        "type": "inject",
        "z": "c0151475.218f98",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "getState",
        "payloadType": "str",
        "x": 220,
        "y": 260,
        "wires": [
            [
                "bab53c06.fc9c3"
            ]
        ]
    },
    {
        "id": "b8fbf920.d74d68",
        "type": "debug",
        "z": "c0151475.218f98",
        "name": "Salotto",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 460,
        "wires": []
    },
    {
        "id": "68a774d1.6dca4c",
        "type": "inject",
        "z": "c0151475.218f98",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "report_state",
        "x": 110,
        "y": 20,
        "wires": [
            [
                "239c652d.105f6a"
            ]
        ]
    },
    {
        "id": "59d2b01f.9c2ca",
        "type": "inject",
        "z": "c0151475.218f98",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "15",
        "topic": "request_sync",
        "x": 120,
        "y": 60,
        "wires": [
            [
                "239c652d.105f6a"
            ]
        ]
    },
    {
        "id": "16cf7c71.0f9f94",
        "type": "inject",
        "z": "c0151475.218f98",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "restart_server",
        "x": 110,
        "y": 100,
        "wires": [
            [
                "239c652d.105f6a"
            ]
        ]
    },
    {
        "id": "b1dd20d4.85a7c",
        "type": "comment",
        "z": "c0151475.218f98",
        "name": "Notifications",
        "info": "",
        "x": 90,
        "y": 820,
        "wires": []
    },
    {
        "id": "e1bec31a.fe698",
        "type": "inject",
        "z": "c0151475.218f98",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "get_state",
        "x": 100,
        "y": 140,
        "wires": [
            [
                "239c652d.105f6a"
            ]
        ]
    },
    {
        "id": "291546c1.a68dba",
        "type": "inject",
        "z": "c0151475.218f98",
        "name": "set_state",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "set_state",
        "payload": "{\"a5782b1b.e120f8\":{\"online\":true,\"currentApplication\":\"youtube_application\",\"isArmed\":true,\"currentArmLevel\":\"L1\",\"color\":{\"temperatureK\":4000},\"currentCookingMode\":\"COOK\",\"dispenseItems\":[{\"itemName\":\"water\",\"amountRemaining\":{\"amount\":10,\"unit\":\"NO_UNITS\"},\"amountLastDispensed\":{\"amount\":11,\"unit\":\"NO_UNITS\"},\"isCurrentlyDispensing\":false},{\"itemName\":\"cat_bowl\",\"amountRemaining\":{\"amount\":12,\"unit\":\"NO_UNITS\"},\"amountLastDispensed\":{\"amount\":13,\"unit\":\"NO_UNITS\"},\"isCurrentlyDispensing\":false},{\"itemName\":\"glass_1\",\"amountRemaining\":{\"amount\":14,\"unit\":\"NO_UNITS\"},\"amountLastDispensed\":{\"amount\":15,\"unit\":\"NO_UNITS\"},\"isCurrentlyDispensing\":false}],\"descriptiveCapacityRemaining\":\"FULL\",\"isCharging\":false,\"isPluggedIn\":false,\"currentFanSpeedPercent\":50,\"isFilled\":false,\"currentFillLevel\":\"\",\"currentInput\":\"hdmi_2_input\",\"activeLightEffect\":\"wake\",\"currentModeSettings\":{\"load_mode\":\"large_load\",\"temp_mode\":\"cold_temp\"},\"openState\":[{\"openPercent\":50,\"openDirection\":\"UP\"},{\"openPercent\":70,\"openDirection\":\"DOWN\"},{\"openPercent\":60,\"openDirection\":\"LEFT\"},{\"openPercent\":45,\"openDirection\":\"RIGHT\"},{\"openPercent\":20,\"openDirection\":\"IN\"},{\"openPercent\":10,\"openDirection\":\"OUT\"}],\"currentRunCycle\":[{\"currentCycle\":\"Riscaldamento piatto\",\"nextCycle\":\"Riscaldamento ugello\",\"lang\":\"it\"},{\"currentCycle\":\"Riscaldamento ugello\",\"nextCycle\":\"Stampa\",\"lang\":\"it\"}],\"currentTotalRemainingTime\":0,\"currentCycleRemainingTime\":0,\"currentSensorStateData\":[{\"name\":\"AirQuality\",\"currentSensorState\":\"unknown\",\"rawValue\":0},{\"name\":\"CarbonMonoxideLevel\",\"currentSensorState\":\"no carbon monoxide detected\",\"rawValue\":7},{\"name\":\"SmokeLevel\",\"currentSensorState\":\"unknown\",\"rawValue\":0},{\"name\":\"FilterCleanliness\",\"currentSensorState\":\"unknown\"},{\"name\":\"WaterLeak\",\"currentSensorState\":\"unknown\"},{\"name\":\"RainDetection\",\"currentSensorState\":\"unknown\"},{\"name\":\"FilterLifeTime\",\"currentSensorState\":\"unknown\",\"rawValue\":0},{\"name\":\"PreFilterLifeTime\",\"rawValue\":0},{\"name\":\"HEPAFilterLifeTime\",\"rawValue\":0},{\"name\":\"Max2FilterLifeTime\",\"rawValue\":0},{\"name\":\"CarbonDioxideLevel\",\"rawValue\":0},{\"name\":\"PM2.5\",\"rawValue\":0},{\"name\":\"PM10\",\"rawValue\":0},{\"name\":\"VolatileOrganicCompounds\",\"rawValue\":0}],\"lastSoftwareUpdateUnixTimestampSec\":0,\"isRunning\":true,\"temperatureSetpointCelsius\":16.5,\"thermostatMode\":\"eco\",\"thermostatTemperatureAmbient\":1,\"timerRemainingSec\":988,\"currentToggleSettings\":{\"quiet_toggle\":false,\"extra_bass_toggle\":false,\"energy_saving_toggle\":false},\"currentVolume\":40,\"isMuted\":false,\"on\":true,\"currentStatusReport\":[{\"blocking\":true,\"deviceTarget\":\"a5782b1b.e120f8\",\"priority\":1,\"statusCode\":\"lowBattery\"},{\"blocking\":false,\"deviceTarget\":\"a5782b1b.e120f8\",\"priority\":2,\"statusCode\":\"okBattery\"},{\"blocking\":false,\"deviceTarget\":\"bab53c06.fc9c3\",\"priority\":3,\"statusCode\":\"lowBattery\"}],\"capacityRemaining\":[{\"rawValue\":7,\"unit\":\"PERCENTAGE\"}],\"capacityUntilFull\":[{\"rawValue\":60,\"unit\":\"SECONDS\"}],\"activeZones\":[\"Cucina\",\"Salotto\"],\"brightness\":200,\"currentChannel\":\"rai1_hd\",\"currentChannelNumber\":\"501\",\"currentFoodPreset\":\"white_rice\",\"currentFoodQuantity\":2,\"currentFoodUnit\":\"CUPS\",\"isDocked\":true,\"currentFanSpeedSetting\":\"speed_high\",\"humiditySetpointPercent\":30,\"isLocked\":false,\"guestNetworkEnabled\":false,\"rotationPercent\":10,\"rotationDegrees\":30,\"isPaused\":false,\"thermostatTemperatureSetpoint\":15.67,\"timerPaused\":true},\"bab53c06.fc9c3\":{\"online\":true,\"currentApplication\":\"\",\"isArmed\":false,\"currentArmLevel\":\"\",\"color\":{\"spectrumHsv\":{\"hue\":500,\"saturation\":2,\"value\":3}},\"currentCookingMode\":\"NONE\",\"dispenseItems\":[{\"itemName\":\"water\",\"amountRemaining\":{\"amount\":10,\"unit\":\"NO_UNITS\"},\"amountLastDispensed\":{\"amount\":11,\"unit\":\"NO_UNITS\"},\"isCurrentlyDispensing\":false},{\"itemName\":\"cat_bowl\",\"amountRemaining\":{\"amount\":12,\"unit\":\"NO_UNITS\"},\"amountLastDispensed\":{\"amount\":13,\"unit\":\"NO_UNITS\"},\"isCurrentlyDispensing\":false},{\"itemName\":\"glass_1\",\"amountRemaining\":{\"amount\":14,\"unit\":\"NO_UNITS\"},\"amountLastDispensed\":{\"amount\":15,\"unit\":\"NO_UNITS\"},\"isCurrentlyDispensing\":false}],\"descriptiveCapacityRemaining\":\"FULL\",\"isPluggedIn\":false,\"currentFanSpeedPercent\":0,\"isFilled\":false,\"currentFillLevel\":\"\",\"currentInput\":\"\",\"activeLightEffect\":\"\",\"currentModeSettings\":{\"load_mode\":\"\",\"temp_mode\":\"\"},\"openState\":[{\"openPercent\":0,\"openDirection\":\"UP\"},{\"openPercent\":0,\"openDirection\":\"DOWN\"},{\"openPercent\":0,\"openDirection\":\"LEFT\"},{\"openPercent\":0,\"openDirection\":\"RIGHT\"},{\"openPercent\":0,\"openDirection\":\"IN\"},{\"openPercent\":0,\"openDirection\":\"OUT\"}],\"currentRunCycle\":[{\"currentCycle\":\"unknown\",\"lang\":\"it\"}],\"currentTotalRemainingTime\":0,\"currentCycleRemainingTime\":0,\"currentSensorStateData\":[{\"name\":\"AirQuality\",\"currentSensorState\":\"unknown\",\"rawValue\":0},{\"name\":\"CarbonMonoxideLevel\",\"currentSensorState\":\"unknown\",\"rawValue\":0},{\"name\":\"SmokeLevel\",\"currentSensorState\":\"unknown\",\"rawValue\":0},{\"name\":\"FilterCleanliness\",\"currentSensorState\":\"unknown\"},{\"name\":\"WaterLeak\",\"currentSensorState\":\"unknown\"},{\"name\":\"RainDetection\",\"currentSensorState\":\"unknown\"},{\"name\":\"FilterLifeTime\",\"currentSensorState\":\"unknown\",\"rawValue\":0},{\"name\":\"PreFilterLifeTime\",\"rawValue\":0},{\"name\":\"HEPAFilterLifeTime\",\"rawValue\":0},{\"name\":\"Max2FilterLifeTime\",\"rawValue\":0},{\"name\":\"CarbonDioxideLevel\",\"rawValue\":0},{\"name\":\"PM2.5\",\"rawValue\":0},{\"name\":\"PM10\",\"rawValue\":0},{\"name\":\"VolatileOrganicCompounds\",\"rawValue\":0}],\"lastSoftwareUpdateUnixTimestampSec\":0,\"isRunning\":false,\"temperatureSetpointCelsius\":0,\"thermostatMode\":\"none\",\"thermostatTemperatureAmbient\":1,\"thermostatTemperatureSetpoint\":1,\"timerRemainingSec\":-1,\"currentToggleSettings\":{\"quiet_toggle\":false,\"extra_bass_toggle\":false,\"energy_saving_toggle\":false},\"currentVolume\":40,\"isMuted\":false}}",
        "payloadType": "json",
        "x": 300,
        "y": 140,
        "wires": [
            [
                "239c652d.105f6a"
            ]
        ]
    },
    {
        "id": "f8cf9e55.3b33b",
        "type": "inject",
        "z": "c0151475.218f98",
        "name": "inSoftwareUpdate",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "errorCode",
        "payload": "inSoftwareUpdate",
        "payloadType": "str",
        "x": 510,
        "y": 240,
        "wires": [
            [
                "a5782b1b.e120f8"
            ]
        ]
    },
    {
        "id": "6ec779e5.6a9d78",
        "type": "inject",
        "z": "c0151475.218f98",
        "name": "no errors",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "errorCode",
        "x": 540,
        "y": 280,
        "wires": [
            [
                "a5782b1b.e120f8"
            ]
        ]
    },
    {
        "id": "fa97ab95.690508",
        "type": "inject",
        "z": "c0151475.218f98",
        "name": "on",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"on\":true}",
        "payloadType": "json",
        "x": 550,
        "y": 360,
        "wires": [
            [
                "a5782b1b.e120f8"
            ]
        ]
    },
    {
        "id": "b1eb15bb.158ad8",
        "type": "inject",
        "z": "c0151475.218f98",
        "name": "off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"on\":false}",
        "payloadType": "json",
        "x": 550,
        "y": 320,
        "wires": [
            [
                "a5782b1b.e120f8"
            ]
        ]
    },
    {
        "id": "6cdc9bf4.2a90d4",
        "type": "debug",
        "z": "c0151475.218f98",
        "name": "",
        "active": true,
        "tosidebar": false,
        "console": true,
        "tostatus": false,
        "complete": "''",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 520,
        "wires": []
    },
    {
        "id": "77e0ccbc.6ea9b4",
        "type": "function",
        "z": "c0151475.218f98",
        "name": "",
        "func": "const topic = msg.topic.toLowerCase().slice(0, -1);\nlet msg1={\"topic\": msg.topic};\nlet key_suffix = topic.startsWith(\"available\") ? topic.substring(9) : topic;\nlet lang=msg.lang || undefined;\nlet objs = [];\nmsg1.payload = objs;\nmsg.payload.forEach(obj => {\n    if (typeof obj == \"string\") {\n        let new_obj = {};\n        let key = obj.replace(/ /g, '_').toLowerCase();\n        if (!key.endsWith(topic)) {\n            key = key + \"_\" + key_suffix;\n        }\n        new_obj['key'] = key;\n        new_obj['names'] = [{\n            \"lang\": lang,\n            \"name_synonym\": [ obj ]\n        }];\n        objs.push(new_obj);\n    } else if (typeof obj == \"object\") {\n        let new_obj = {};\n        let key = obj['key'];\n        let names = obj['names'];\n        if (key == undefined) {\n            key = names[0];\n        }\n        key = key.replace(/ /g, '_').toLowerCase();\n        if (!key.endsWith(topic)) {\n            key = key + \"_\" + key_suffix;\n        }\n        new_obj['key'] = key;\n        let new_objt = {};\n        new_obj['key'] = key;\n        new_obj['names'] = [{\n            \"lang\": lang,\n            \"name_synonym\": names\n        }];\n        objs.push(new_obj);\n    }\n});\n\nreturn msg1;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "5dab6f5e.77034",
        "type": "debug",
        "z": "c0151475.218f98",
        "name": "imsg",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 120,
        "wires": []
    },
    {
        "id": "d06e999d.718b68",
        "type": "google-device",
        "z": "c0151475.218f98",
        "client": "85fa874.600d378",
        "name": "MultiDevice Cameretta",
        "topic": "cameretta",
        "room_hint": "Cameretta",
        "device_type": "TV",
        "trait_appselector": true,
        "trait_channel": true,
        "trait_inputselector": true,
        "trait_mediastate": true,
        "trait_onoff": true,
        "trait_transportcontrol": true,
        "trait_modes": true,
        "trait_volume": true,
        "trait_toggles": true,
        "trait_brightness": true,
        "trait_colorsetting": true,
        "appselector_file": "[\"YouTube\",{\"key\":\"video\",\"names\":[\"Google Video\",\"Video\"]},{\"names\":[\"Amazon Prime Video\",\"Prime Video\"]}]",
        "appselector_type": "json",
        "channel_file": "[{\"key\":\"rai1\",\"names\":[\"Rai 1\"],\"number\":\"1\"},{\"key\":\"rai1_hd\",\"names\":[\"Rai 1 HD\"],\"number\":\"501\"},{\"key\":\"rai2\",\"names\":[\"Rai 2\"],\"number\":\"2\"},{\"key\":\"rai2_hd\",\"names\":[\"Rai 2 HD\"],\"number\":\"502\"},{\"key\":\"rai3\",\"names\":[\"Rai 3\"],\"number\":\"3\"},{\"key\":\"rai3_hd\",\"names\":[\"Rai 3 HD\"],\"number\":\"503\"},{\"key\":\"realtime\",\"names\":[\"Realtime\"],\"number\":\"31\"}]",
        "channel_type": "json",
        "inputselector_file": "[\"hdmi 1\",{\"key\":\"hdmi_2\",\"names\":[\"hdmi 2\",\"Second HDMI\",\"DVD Reader\",\"DVD\"]},{\"names\":[\"hdmi 3\",\"Third HDMI\",\"Playstation 5\",\"PS5\"]}]",
        "inputselector_type": "json",
        "command_only_input_selector": false,
        "ordered_inputs": false,
        "support_activity_state": false,
        "support_playback_state": false,
        "command_query_onoff": "",
        "supported_commands": [
            "CAPTION_CONTROL",
            "NEXT",
            "PAUSE",
            "PREVIOUS",
            "RESUME",
            "SEEK_RELATIVE",
            "SEEK_TO_POSITION",
            "SET_REPEAT",
            "SHUFFLE",
            "STOP"
        ],
        "volume_max_level": 100,
        "volume_can_mute_and_unmute": true,
        "volume_default_percentage": 40,
        "level_step_size": 1,
        "command_only_volume": false,
        "command_only_brightness": false,
        "command_only_colorsetting": false,
        "color_model": "temp",
        "temperature_min_k": 2000,
        "temperature_max_k": 9000,
        "modes_file": "[{\"name\":\"load_mode\",\"name_values\":[{\"name_synonym\":[\"load\",\"size\",\"load size\"],\"lang\":\"en\"}],\"settings\":[{\"setting_name\":\"small_load\",\"setting_values\":[{\"setting_synonym\":[\"small\",\"half\"],\"lang\":\"en\"}]},{\"setting_name\":\"medium_load\",\"setting_values\":[{\"setting_synonym\":[\"medium\",\"normal\"],\"lang\":\"en\"}]},{\"setting_name\":\"large_load\",\"setting_values\":[{\"setting_synonym\":[\"large\",\"full\"],\"lang\":\"en\"}]}],\"ordered\":true},{\"name\":\"temp_mode\",\"name_values\":[{\"name_synonym\":[\"temperature\",\"temp\"],\"lang\":\"en\"}],\"settings\":[{\"setting_name\":\"hot_temp\",\"setting_values\":[{\"setting_synonym\":[\"hot\",\"white\"],\"lang\":\"en\"}]},{\"setting_name\":\"warm_temp\",\"setting_values\":[{\"setting_synonym\":[\"warm\",\"color\"],\"lang\":\"en\"}]},{\"setting_name\":\"cold_temp\",\"setting_values\":[{\"setting_synonym\":[\"cold\",\"delicate\"],\"lang\":\"en\"}]}],\"ordered\":false}]",
        "modes_type": "json",
        "command_query_modes": "",
        "toggles_file": "[\"quiet\",[\"Silenzio\",\"Basso\"],{\"name\":\"extra_bass\",\"name_values\":[\"Extra bass\",\"Loud bass\",\"Powerful bass\"]},{\"lang\":\"en\",\"name_values\":[\"Energy Saving\",\"Low Energy\"]},{\"name\":\"extra_bass1\",\"name_values\":[{\"lang\":\"en\",\"name_synonym\":[\"Extra bass\",\"Loud bass\",\"Powerful bass\"]}]}]",
        "toggles_type": "json",
        "command_query_toggles": "",
        "trait_camerastream": true,
        "hls": "http://HLS",
        "hls_app_id": "HLS_APPID",
        "dash": "http://DASH",
        "dash_app_id": "DASH_APPID",
        "smooth_stream": "http://SMOOTH_STREAM",
        "smooth_stream_app_id": "SMOOTH_STREAM_APPID",
        "progressive_mp4": "http://PROGRESSIVE_MP4",
        "progressive_mp4_app_id": "PROGRESSIVE_MP4_APPID",
        "webrtc": "http://WEBRTC_SIGNALING",
        "webrtc_offer": "o=- 4611731400430051336 2 IN IP4 127.0.0.1...",
        "webrtc_ice_servers": "[{\"urls\":\"stun:stun.l.partner.com:19302\"},{\"urls\":\"turn:192.158.29.39:3478?transport=udp\",\"credential\":\"JZEOEt2V3Qb0y27GRntt2u2PAYA=\",\"username\":\"28224511:1379330808\"},{\"urls\":\"turn:192.158.29.39:3478?transport=tcp\",\"credential\":\"JZEOEt2V3Qb0y27GRntt2u2PAYA=\",\"username\":\"28224511:1379330808\"}]",
        "webrtc_ice_servers_type": "json",
        "need_auth_token": true,
        "auth_token": "Auth Token GUI",
        "passthru": true,
        "persistent_state": true,
        "trait_scene": true,
        "scene_reversible": true,
        "trait_timer": true,
        "trait_temperaturesetting": true,
        "max_timer_limit_sec": 86400,
        "command_only_timer": false,
        "available_thermostat_modes": [
            "off",
            "heat",
            "cool",
            "on",
            "heatcool",
            "auto",
            "fan-only",
            "purifier",
            "eco",
            "dry"
        ],
        "min_threshold_celsius": "1",
        "max_threshold_celsius": "50",
        "thermostat_temperature_unit": "C",
        "buffer_range_celsius": 2,
        "command_query_temperaturesetting": "",
        "trait_temperaturecontrol": true,
        "tc_min_threshold_celsius": 0,
        "tc_max_threshold_celsius": 40,
        "tc_temperature_step_celsius": 1,
        "tc_temperature_unit_for_ux": "C",
        "tc_command_query_temperaturecontrol": "",
        "trait_humiditysetting": true,
        "min_percent": 0,
        "max_percent": 100,
        "command_query_humiditysetting": "",
        "trait_dock": true,
        "trait_locator": true,
        "trait_lockunlock": true,
        "trait_reboot": true,
        "trait_openclose": true,
        "discrete_only_openclose": false,
        "open_direction": [
            "UP",
            "DOWN",
            "LEFT",
            "RIGHT",
            "IN",
            "OUT"
        ],
        "command_query_openclose": "",
        "trait_startstop": true,
        "pausable": false,
        "available_zones": [
            "Cucina",
            "Salotto",
            "Camera di Eliana",
            "Bagno"
        ],
        "trait_runcycle": true,
        "trait_softwareupdate": true,
        "trait_rotation": true,
        "supports_degrees": true,
        "supports_percent": true,
        "rotation_degrees_min": 0,
        "rotation_degrees_max": 360,
        "supports_continuous_rotation": false,
        "command_only_rotation": false,
        "trait_lighteffects": true,
        "default_sleep_duration": 1800,
        "default_wake_duration": 1800,
        "supported_effects": [
            "colorLoop",
            "sleep",
            "wake"
        ],
        "trait_statusreport": true,
        "trait_cook": true,
        "supported_cooking_modes": [
            "UNKNOWN_COOKING_MODE",
            "BAKE",
            "BEAT",
            "BLEND",
            "BOIL",
            "BREW",
            "BROIL",
            "CONVECTION_BAKE",
            "COOK",
            "DEFROST",
            "DEHYDRATE",
            "FERMENT",
            "FRY",
            "GRILL",
            "KNEAD",
            "MICROWAVE",
            "MIX",
            "PRESSURE_COOK",
            "PUREE",
            "ROAST",
            "SAUTE",
            "SLOW_COOK",
            "SOUS_VIDE",
            "STEAM",
            "STEW",
            "STIR",
            "WARM",
            "WHIP"
        ],
        "food_presets_file": "[{\"food_preset_name\":\"white_rice\",\"supported_units\":[\"CUPS\"],\"food_synonyms\":[{\"synonym\":[\"White Rice\",\"Rice\"],\"lang\":\"en\"}]},{\"food_preset_name\":\"brown_rice\",\"supported_units\":[\"CUPS\"],\"food_synonyms\":[{\"synonym\":[\"Brown Rice\"],\"lang\":\"en\"}]}]",
        "food_presets_type": "json",
        "trait_fanspeed": true,
        "reversible": false,
        "supports_fan_speed_percent": false,
        "fan_speeds_ordered": true,
        "command_only_fanspeed": false,
        "available_fan_speeds_file": "[{\"speed_name\":\"speed_low\",\"speed_values\":[{\"speed_synonym\":[\"low\",\"slow\"],\"lang\":\"en\"}]},{\"speed_name\":\"speed_high\",\"speed_values\":[{\"speed_synonym\":[\"high\",\"fast\"],\"lang\":\"en\"}]}]",
        "available_fan_speeds_type": "json",
        "trait_sensorstate": true,
        "sensor_states_supported": [
            "AirQuality",
            "CarbonMonoxideLevel",
            "SmokeLevel",
            "FilterCleanliness",
            "WaterLeak",
            "RainDetection",
            "FilterLifeTime",
            "PreFilterLifeTime",
            "HEPAFilterLifeTime",
            "Max2FilterLifeTime",
            "CarbonDioxideLevel",
            "PM2.5",
            "PM10",
            "VolatileOrganicCompounds"
        ],
        "arm_levels_ordered": true,
        "trait_fill": true,
        "available_fill_levels_file": "[{\"level_name\":\"half_level\",\"level_values\":[{\"level_synonym\":[\"half\",\"half way\",\"one half\"],\"lang\":\"en\"}]},{\"level_name\":\"full_level\",\"level_values\":[{\"level_synonym\":[\"full\",\"all the way\",\"complete\"],\"lang\":\"en\"}]}]",
        "available_fill_levels_type": "json",
        "supports_fill_percent": false,
        "ordered_fill_levels": true,
        "trait_armdisarm": true,
        "available_arm_levels_file": "[{\"level_name\":\"L1\",\"level_values\":[{\"level_synonym\":[\"home and guarding\",\"SL1\"],\"lang\":\"en\"},{\"level_synonym\":[\"Allarme in casa\",\"SL1\"],\"lang\":\"it\"}]},{\"level_name\":\"L2\",\"level_values\":[{\"level_synonym\":[\"away and guarding\",\"SL2\"],\"lang\":\"en\"},{\"level_synonym\":[\"Allarme fuori casa\",\"SL2\"]}]}]",
        "available_arm_levels_type": "json",
        "trait_energystorage": true,
        "is_rechargeable": false,
        "query_only_energy_storage": false,
        "energy_storage_distance_unit_for_ux": "KILOMETERS",
        "trait_dispense": true,
        "supported_dispense_items_file": "[{\"item_name\":\"water\",\"item_name_synonyms\":[{\"lang\":\"en\",\"synonyms\":[\"water\"]}],\"supported_units\":[\"TEASPOONS\",\"TABLESPOONS\",\"FLUID_OUNCES\",\"CUPS\",\"PINTS\",\"QUARTS\",\"GALLONS\",\"MILLILITERS\",\"LITERS\",\"DECILITERS\"],\"default_portion\":{\"amount\":2,\"unit\":\"CUPS\"}}]",
        "supported_dispense_items_type": "json",
        "supported_dispense_presets_file": "[{\"preset_name\":\"cat_bowl\",\"preset_name_synonyms\":[{\"lang\":\"en\",\"synonyms\":[\"cat water bowl\",\"cat water dish\",\"cat water cup\"]}]},{\"preset_name\":\"glass_1\",\"preset_name_synonyms\":[{\"lang\":\"en\",\"synonyms\":[\"glass of water\",\"glass\"]}]}]",
        "supported_dispense_presets_type": "json",
        "trait_networkcontrol": true,
        "supports_enabling_guest_network": false,
        "supports_disabling_guest_network": false,
        "supports_getting_guest_network_password": false,
        "network_profiles": [
            "Kids"
        ],
        "supports_enabling_network_profile": false,
        "supports_disabling_network_profile": false,
        "supports_network_download_speedtest": false,
        "supports_network_upload_speedtest": false,
        "trait_objectdetection": true,
        "show_trait": "selected",
        "advanced_settings": true,
        "ct_appselector": "",
        "ct_armdisarm": "",
        "ct_brightness": "",
        "ct_camerastream": "",
        "ct_channel": "",
        "ct_colorsetting": "",
        "ct_cook": "",
        "ct_dispense": "",
        "ct_dock": "",
        "ct_energystorage": "",
        "ct_fanspeed": "",
        "ct_fill": "",
        "ct_humiditysetting": "",
        "ct_inputselector": "",
        "ct_lighteffects": "",
        "ct_locator": "",
        "ct_lockunlock": "",
        "ct_mediastate": "",
        "ct_modes": "",
        "ct_networkcontrol": "",
        "ct_objectdetection": "",
        "ct_onoff": "",
        "ct_openclose": "",
        "ct_reboot": "",
        "ct_rotation": "",
        "ct_runcycle": "",
        "ct_scene": "",
        "ct_sensorstate": "",
        "ct_softwareupdate": "",
        "ct_startstop": "",
        "ct_statusreport": "",
        "ct_temperaturecontrol": "",
        "ct_temperaturesetting": "",
        "ct_timer": "",
        "ct_toggles": "",
        "ct_transportcontrol": "",
        "ct_volume": "",
        "pin_appselector": "",
        "pin_armdisarm": "",
        "pin_brightness": "",
        "pin_camerastream": "",
        "pin_channel": "",
        "pin_colorsetting": "",
        "pin_cook": "",
        "pin_dispense": "",
        "pin_dock": "",
        "pin_energystorage": "",
        "pin_fanspeed": "",
        "pin_fill": "",
        "pin_humiditysetting": "",
        "pin_inputselector": "",
        "pin_lighteffects": "",
        "pin_locator": "",
        "pin_lockunlock": "",
        "pin_mediastate": "",
        "pin_modes": "",
        "pin_networkcontrol": "",
        "pin_objectdetection": "",
        "pin_onoff": "",
        "pin_openclose": "",
        "pin_reboot": "",
        "pin_rotation": "",
        "pin_runcycle": "",
        "pin_scene": "",
        "pin_sensorstate": "",
        "pin_softwareupdate": "",
        "pin_startstop": "",
        "pin_statusreport": "",
        "pin_temperaturecontrol": "",
        "pin_temperaturesetting": "",
        "pin_timer": "",
        "pin_toggles": "",
        "pin_transportcontrol": "",
        "pin_volume": "",
        "x": 800,
        "y": 520,
        "wires": [
            [
                "8464b1.e8eaab5",
                "67a0c7c6.bebeb8",
                "6cdc9bf4.2a90d4"
            ]
        ]
    },
    {
        "id": "67a0c7c6.bebeb8",
        "type": "debug",
        "z": "c0151475.218f98",
        "name": "Cameretta",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 560,
        "wires": []
    }
]