test/sh/flows.json
[
    {
        "id": "c0151475.218f98",
        "type": "tab",
        "label": "Test Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "85fa874.600d378",
        "type": "googlesmarthome-client",
        "name": "",
        "enabledebug": true,
        "usegooglelogin": false,
        "usehttpnoderoot": true,
        "port": "",
        "httppath": "smarthome",
        "ssloffload": true,
        "accesstokenduration": "60",
        "reportinterval": "0",
        "info": "username: userrname\npassword: password\njwtkey: google-home.json\nclientid: client_id\nclientsecret: client_secred\n"
    },
    {
        "id": "239c652d.105f6a",
        "type": "google-mgmt",
        "z": "c0151475.218f98",
        "client": "85fa874.600d378",
        "name": "",
        "x": 510,
        "y": 60,
        "wires": [
            [
                "b4f1c6af.3c9aa8"
            ]
        ]
    },
    {
        "id": "b4f1c6af.3c9aa8",
        "type": "debug",
        "z": "c0151475.218f98",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 60,
        "wires": []
    },
    {
        "id": "3b5fad59.292ad2",
        "type": "debug",
        "z": "c0151475.218f98",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 100,
        "wires": []
    },
    {
        "id": "1a88512b.3271af",
        "type": "function",
        "z": "c0151475.218f98",
        "name": "",
        "func": "let msg1={\"topic\": msg.topic};\nlet lang=msg.lang || 'en';\nlet toggles = [];\nmsg1.payload = toggles;\nmsg.payload.forEach(toggle => {\n    if (typeof toggle == \"string\") {\n        let new_toggle = {};\n        let key = toggle.replace(/ /g, '_');\n        if (!key.toLowerCase().endsWith(\"toggle\")) {\n            key = key + \"_toggle\";\n        }\n        new_toggle['name'] = key.toLowerCase();\n        new_toggle['name_values'] = [{\n            \"lang\": lang,\n            \"name_synonym\": [ toggle ]\n        }];\n        toggles.push(new_toggle);\n    } else if (typeof toggle == \"object\") {\n        let key = toggle['key'];\n        let names = toggle['names'];\n        if (key == undefined) {\n            key = names[0].replace(/ /g, '_');\n        }\n        if (!key.toLowerCase().endsWith(\"toggle\")) {\n            key = key + \"_toggle\";\n        }\n        let new_toggle = {};\n        new_toggle['name'] = key.toLowerCase();\n        new_toggle['name_values'] = [{\n            \"lang\": lang,\n            \"name_synonym\": names\n        }];\n        toggles.push(new_toggle);\n    }\n});\n\nreturn msg1;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 360,
        "y": 220,
        "wires": [
            [
                "a5782b1b.e120f8"
            ]
        ]
    },
    {
        "id": "b1733921.983838",
        "type": "function",
        "z": "c0151475.218f98",
        "name": "",
        "func": "const topic = msg.topic.toLowerCase().slice(0, -1);\nlet msg1={\"topic\": msg.topic};\nlet key_suffix = topic.startsWith(\"available\") ? topic.substring(9) : topic;\nlet lang=msg.lang || 'en';\nlet objs = [];\nmsg1.payload = objs;\nmsg.payload.forEach(obj => {\n    if (typeof obj == \"string\") {\n        let new_obj = {};\n        let key = obj.replace(/ /g, '_').toLowerCase();\n        if (!key.endsWith(topic)) {\n            key = key + \"_\" + key_suffix;\n        }\n        new_obj['key'] = key;\n        new_obj['names'] = [{\n            \"lang\": lang,\n            \"name_synonym\": [ obj ]\n        }];\n        objs.push(new_obj);\n    } else if (typeof obj == \"object\") {\n        let new_obj = {};\n        let key = obj['key'];\n        let names = obj['names'];\n        if (key == undefined) {\n            key = names[0];\n        }\n        key = key.replace(/ /g, '_').toLowerCase();\n        if (!key.endsWith(topic)) {\n            key = key + \"_\" + key_suffix;\n        }\n        new_obj['key'] = key;\n        let new_objt = {};\n        new_obj['key'] = key;\n        new_obj['names'] = [{\n            \"lang\": lang,\n            \"name_synonym\": names\n        }];\n        objs.push(new_obj);\n    }\n});\n\nreturn msg1;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 380,
        "y": 140,
        "wires": [
            [
                "a5782b1b.e120f8"
            ]
        ]
    },
    {
        "id": "d1f484f4.4d7dc8",
        "type": "inject",
        "z": "c0151475.218f98",
        "name": "AvailableChannels",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "AvailableChannels",
        "payload": "[{\"key\":\"rai1\",\"names\":[\"Rai 1\"],\"number\":\"1\"},{\"key\":\"rai1_hd\",\"names\":[\"Rai 1 HD\"],\"number\":\"501\"},{\"key\":\"rai2\",\"names\":[\"Rai 2\"],\"number\":\"2\"},{\"key\":\"rai2_hd\",\"names\":[\"Rai 2 HD\"],\"number\":\"502\"},{\"key\":\"rai3\",\"names\":[\"Rai 3\"],\"number\":\"3\"},{\"key\":\"rai3_hd\",\"names\":[\"Rai 3 HD\"],\"number\":\"503\"},{\"key\":\"realtime\",\"names\":[\"Realtime\"],\"number\":\"31\"}]",
        "payloadType": "json",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "a5782b1b.e120f8"
            ]
        ]
    },
    {
        "id": "eb631917.ddc648",
        "type": "inject",
        "z": "c0151475.218f98",
        "name": "AvailableModes",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "AvailableModes",
        "payload": "[{\"name\":\"load_mode\",\"name_values\":[{\"name_synonym\":[\"load\",\"size\",\"load size\"],\"lang\":\"en\"}],\"settings\":[{\"setting_name\":\"small_load\",\"setting_values\":[{\"setting_synonym\":[\"small\",\"half\"],\"lang\":\"en\"}]},{\"setting_name\":\"medium_load\",\"setting_values\":[{\"setting_synonym\":[\"medium\",\"normal\"],\"lang\":\"en\"}]},{\"setting_name\":\"large_load\",\"setting_values\":[{\"setting_synonym\":[\"large\",\"full\"],\"lang\":\"en\"}]}],\"ordered\":true},{\"name\":\"temp_mode\",\"name_values\":[{\"name_synonym\":[\"temperature\",\"temp\"],\"lang\":\"en\"}],\"settings\":[{\"setting_name\":\"hot_temp\",\"setting_values\":[{\"setting_synonym\":[\"hot\",\"white\"],\"lang\":\"en\"}]},{\"setting_name\":\"warm_temp\",\"setting_values\":[{\"setting_synonym\":[\"warm\",\"color\"],\"lang\":\"en\"}]},{\"setting_name\":\"cold_temp\",\"setting_values\":[{\"setting_synonym\":[\"cold\",\"delicate\"],\"lang\":\"en\"}]}],\"ordered\":false}]",
        "payloadType": "json",
        "x": 120,
        "y": 360,
        "wires": [
            [
                "a5782b1b.e120f8"
            ]
        ]
    },
    {
        "id": "76a8ea99.082b24",
        "type": "inject",
        "z": "c0151475.218f98",
        "name": "AvailableToggles",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "AvailableToggles",
        "payload": "[\"quiet\",{\"key\":\"extra_bass\",\"names\":[\"Extra bass\",\"Loud bass\",\"Powerful bass\"]},{\"names\":[\"Energy Saving\",\"Low Energy\"]}]",
        "payloadType": "json",
        "x": 130,
        "y": 400,
        "wires": [
            [
                "1a88512b.3271af"
            ]
        ]
    },
    {
        "id": "2808436c.5ff3ec",
        "type": "inject",
        "z": "c0151475.218f98",
        "name": "AvailableInputs",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "AvailableInputs",
        "payload": "[\"hdmi 1\",{\"key\":\"hdmi_2\",\"names\":[\"hdmi 2\",\"Second HDMI\",\"DVD Reader\",\"DVD\"]},{\"names\":[\"hdmi 3\",\"Third HDMI\",\"Playstation 5\",\"PS5\"]}]",
        "payloadType": "json",
        "x": 120,
        "y": 320,
        "wires": [
            [
                "b1733921.983838"
            ]
        ]
    },
    {
        "id": "b330bd.26b8ef4",
        "type": "inject",
        "z": "c0151475.218f98",
        "name": "AvailableApplications",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "AvailableApplications",
        "payload": "[\"YouTube\",{\"key\":\"video\",\"names\":[\"Google Vide\",\"Video\"]},{\"names\":[\"Amazon Prime Video\",\"Prime Video\"]}]",
        "payloadType": "json",
        "x": 140,
        "y": 40,
        "wires": [
            [
                "b1733921.983838"
            ]
        ]
    },
    {
        "id": "a5782b1b.e120f8",
        "type": "google-device",
        "z": "c0151475.218f98",
        "client": "85fa874.600d378",
        "name": "Cucina",
        "topic": "",
        "room_hint": "",
        "device_type": "TV",
        "trait_appselector": true,
        "trait_channel": true,
        "trait_inputselector": true,
        "trait_mediastate": true,
        "trait_onoff": true,
        "trait_transportcontrol": true,
        "trait_modes": true,
        "trait_volume": true,
        "trait_toggles": true,
        "trait_brightness": true,
        "trait_colorsetting": true,
        "appselector_file": "applications.json",
        "channel_file": "channels.json",
        "inputselector_file": "inputs.json",
        "command_only_input_selector": false,
        "ordered_inputs": false,
        "support_activity_state": false,
        "support_playback_state": false,
        "command_only_onoff": false,
        "query_only_onoff": false,
        "supported_commands": [
            "CAPTION_CONTROL",
            "NEXT",
            "PAUSE",
            "PREVIOUS",
            "RESUME",
            "SEEK_RELATIVE",
            "SEEK_TO_POSITION",
            "SET_REPEAT",
            "SHUFFLE",
            "STOP"
        ],
        "volume_max_level": 100,
        "can_mute_and_unmute": true,
        "volume_default_percentage": 40,
        "level_step_size": 1,
        "command_only_volume": false,
        "command_only_brightness": false,
        "command_only_colorsetting": false,
        "color_model": "rgb_temp",
        "temperature_min_k": 2000,
        "temperature_max_k": 9000,
        "modes_file": "modes.json",
        "command_only_modes": false,
        "query_only_modes": false,
        "toggles_file": "toggles.json",
        "command_only_toggles": false,
        "query_only_toggles": false,
        "trait_camerastream": true,
        "hls": "http://HLS",
        "hls_app_id": "HLS_APPID",
        "dash": "http://DASH",
        "dash_app_id": "DASH_APPID",
        "smooth_stream": "http://SMOOTH_STREAM",
        "smooth_stream_app_id": "SMOOTH_STREAM_APPID",
        "progressive_mp4": "http://PROGRESSIVE_MP4",
        "progressive_mp4_app_id": "PROGRESSIVE_MP4_APPID",
        "auth_token": "Auth Token GUI",
        "passthru": true,
        "trait_scene": true,
        "scene_reversible": true,
        "trait_timer": true,
        "trait_temperaturesetting": true,
        "max_timer_limit_sec": 86400,
        "command_only_timer": false,
        "available_thermostat_modes": [
            "off",
            "heat",
            "cool",
            "on",
            "heatcool",
            "auto",
            "fan-only",
            "purifier",
            "eco",
            "dry"
        ],
        "min_threshold_celsius": "1",
        "max_threshold_celsius": "50",
        "thermostat_temperature_unit": "C",
        "buffer_range_celsius": 2,
        "command_only_temperaturesetting": false,
        "query_only_temperaturesetting": false,
        "trait_temperaturecontrol": true,
        "tc_min_threshold_celsius": 0,
        "tc_max_threshold_celsius": 40,
        "tc_temperature_step_celsius": 1,
        "tc_temperature_unit_for_ux": "C",
        "tc_command_only_temperaturecontrol": false,
        "tc_query_only_temperaturecontrol": false,
        "trait_humiditysetting": true,
        "min_percent": 0,
        "max_percent": 100,
        "command_only_humiditysetting": false,
        "query_only_humiditysetting": false,
        "trait_dock": true,
        "trait_locator": true,
        "trait_lockunlock": true,
        "trait_reboot": true,
        "trait_openclose": true,
        "discrete_only_openclose": false,
        "open_direction": [
            "UP",
            "DOWN",
            "LEFT",
            "RIGHT",
            "IN",
            "OUT"
        ],
        "command_only_openclose": false,
        "query_only_openclose": false,
        "trait_startstop": true,
        "pausable": false,
        "available_zones": [
            "Cucina",
            "Salotto",
            "Camera di Eliana"
        ],
        "lang": "en",
        "trait_runcycle": true,
        "trait_softwareupdate": true,
        "trait_rotation": true,
        "supports_degrees": true,
        "supports_percent": true,
        "rotation_degrees_min": 0,
        "rotation_degrees_max": 360,
        "supports_continuous_rotation": false,
        "command_only_rotation": false,
        "trait_lighteffects": true,
        "default_sleep_duration": 1800,
        "default_wake_duration": 1800,
        "supported_effects": [
            "colorLoop",
            "sleep",
            "wake"
        ],
        "trait_statusreport": true,
        "trait_cook": true,
        "supported_cooking_modes": [
            "UNKNOWN_COOKING_MODE",
            "BAKE",
            "BEAT",
            "BLEND",
            "BOIL",
            "BREW",
            "BROIL",
            "CONVECTION_BAKE",
            "COOK",
            "DEFROST",
            "DEHYDRATE",
            "FERMENT",
            "FRY",
            "GRILL",
            "KNEAD",
            "MICROWAVE",
            "MIX",
            "PRESSURE_COOK",
            "PUREE",
            "ROAST",
            "SAUTE",
            "SLOW_COOK",
            "SOUS_VIDE",
            "STEAM",
            "STEW",
            "STIR",
            "WARM",
            "WHIP"
        ],
        "food_presets_file": "foodPresets.json",
        "trait_fanspeed": true,
        "reversible": false,
        "supports_fan_speed_percent": true,
        "fan_speeds_ordered": true,
        "command_only_fanspeed": false,
        "available_fan_speeds_file": "availableFanSpeeds.json",
        "trait_sensorstate": true,
        "sensor_states_supported": [
            "AirQuality",
            "CarbonMonoxideLevel",
            "SmokeLevel",
            "FilterCleanliness",
            "WaterLeak",
            "RainDetection",
            "FilterLifeTime",
            "PreFilterLifeTime",
            "HEPAFilterLifeTime",
            "Max2FilterLifeTime",
            "CarbonDioxideLevel",
            "PM2.5",
            "PM10",
            "VolatileOrganicCompounds"
        ],
        "arm_levels_ordered": true,
        "trait_fill": true,
        "available_fill_levels_file": "availableFillLevels.json",
        "supports_fill_percent": false,
        "trait_armdisarm": true,
        "available_arm_levels_file": "availableArmLevels.json",
        "trait_energystorage": true,
        "is_rechargeable": false,
        "query_only_energy_storage": false,
        "energy_storage_distance_unit_for_ux": "KILOMETERS",
        "trait_dispense": true,
        "supported_dispense_items_file": "supportedDispenseItems.json",
        "supported_dispense_presets_file": "supportedDispensePresets.json",
        "trait_networkcontrol": true,
        "supports_enabling_guest_network": false,
        "supports_disabling_guest_network": false,
        "supports_getting_guest_network_password": false,
        "network_profiles": [
            "Kids"
        ],
        "supports_enabling_network_profile": false,
        "supports_disabling_network_profile": false,
        "supports_network_download_speedtest": false,
        "supports_network_upload_speedtest": false,
        "trait_objectdetection": true,
        "show_trait": "selected",
        "advanced_settings": false,
        "x": 570,
        "y": 140,
        "wires": [
            [
                "3b5fad59.292ad2",
                "8464b1.e8eaab5"
            ]
        ]
    },
    {
        "id": "88a4ec5b.56a57",
        "type": "file",
        "z": "c0151475.218f98",
        "name": "",
        "filename": "payload.json",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 930,
        "y": 140,
        "wires": [
            [
                "91772b2a.3a72b8"
            ]
        ]
    },
    {
        "id": "5de646e1.174888",
        "type": "inject",
        "z": "c0151475.218f98",
        "name": "AvailableFanSpeeds",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "AvailableFanSpeeds",
        "payload": "[{\"speed_name\":\"speed_low\",\"speed_values\":[{\"speed_synonym\":[\"low\",\"slow\"],\"lang\":\"en\"}]},{\"speed_name\":\"speed_high\",\"speed_values\":[{\"speed_synonym\":[\"high\",\"fast\"],\"lang\":\"en\"}]}]",
        "payloadType": "json",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "a5782b1b.e120f8"
            ]
        ]
    },
    {
        "id": "516b9a1.a3dc964",
        "type": "inject",
        "z": "c0151475.218f98",
        "name": "AvailableFillLevels",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "AvailableFillLevels",
        "payload": "[{\"level_name\":\"half_level\",\"level_values\":[{\"level_synonym\":[\"half\",\"half way\",\"one half\"],\"lang\":\"en\"}]},{\"level_name\":\"full_level\",\"level_values\":[{\"level_synonym\":[\"full\",\"all the way\",\"complete\"],\"lang\":\"en\"}]}]",
        "payloadType": "json",
        "x": 130,
        "y": 240,
        "wires": [
            [
                "a5782b1b.e120f8"
            ]
        ]
    },
    {
        "id": "8464b1.e8eaab5",
        "type": "function",
        "z": "c0151475.218f98",
        "name": "",
        "func": "msg.payload.params = msg.params;\nmsg.payload.command = msg.command;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 760,
        "y": 140,
        "wires": [
            [
                "88a4ec5b.56a57"
            ]
        ]
    },
    {
        "id": "91772b2a.3a72b8",
        "type": "debug",
        "z": "c0151475.218f98",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 140,
        "wires": []
    },
    {
        "id": "a2623067.800c1",
        "type": "inject",
        "z": "c0151475.218f98",
        "name": "AvailableFoodPresets",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "AvailableFoodPresets",
        "payload": "[{\"food_preset_name\":\"white_rice\",\"supported_units\":[\"CUPS\"],\"food_synonyms\":[{\"synonym\":[\"White Rice\",\"Rice\"],\"lang\":\"en\"}]},{\"food_preset_name\":\"brown_rice\",\"supported_units\":[\"CUPS\"],\"food_synonyms\":[{\"synonym\":[\"Brown Rice\"],\"lang\":\"en\"}]}]",
        "payloadType": "json",
        "x": 140,
        "y": 280,
        "wires": [
            [
                "a5782b1b.e120f8"
            ]
        ]
    },
    {
        "id": "349dbc0f.dce004",
        "type": "inject",
        "z": "c0151475.218f98",
        "name": "GuestNetworkPassword",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "GuestNetworkPassword",
        "payload": "1234567890",
        "payloadType": "str",
        "x": 150,
        "y": 480,
        "wires": [
            [
                "a5782b1b.e120f8"
            ]
        ]
    },
    {
        "id": "6594ffe7.70dcf",
        "type": "inject",
        "z": "c0151475.218f98",
        "name": "SupportedDispenseItems",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "SupportedDispenseItems",
        "payload": "[{\"item_name\":\"water\",\"item_name_synonyms\":[{\"lang\":\"en\",\"synonyms\":[\"water\"]}],\"supported_units\":[\"TEASPOONS\",\"TABLESPOONS\",\"FLUID_OUNCES\",\"CUPS\",\"PINTS\",\"QUARTS\",\"GALLONS\",\"MILLILITERS\",\"LITERS\",\"DECILITERS\"],\"default_portion\":{\"amount\":2,\"unit\":\"CUPS\"}}]",
        "payloadType": "json",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "a5782b1b.e120f8"
            ]
        ]
    },
    {
        "id": "987eaf93.570b1",
        "type": "inject",
        "z": "c0151475.218f98",
        "name": "SupportedDispensePresets",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "SupportedDispensePresets",
        "payload": "[{\"preset_name\":\"cat_bowl\",\"preset_name_synonyms\":[{\"lang\":\"en\",\"synonyms\":[\"cat water bowl\",\"cat water dish\",\"cat water cup\"]}]},{\"preset_name\":\"glass_1\",\"preset_name_synonyms\":[{\"lang\":\"en\",\"synonyms\":[\"glass of water\",\"glass\"]}]}]",
        "payloadType": "json",
        "x": 160,
        "y": 160,
        "wires": [
            [
                "a5782b1b.e120f8"
            ]
        ]
    },
    {
        "id": "bc10ae84.38ef9",
        "type": "inject",
        "z": "c0151475.218f98",
        "name": "DispenseItems",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "DispenseItems",
        "payload": "[{\"itemName\":\"water\",\"amountRemaining\":{\"amount\":10,\"unit\":\"NO_UNITS\"},\"amountLastDispensed\":{\"amount\":11,\"unit\":\"NO_UNITS\"},\"isCurrentlyDispensing\":false},{\"itemName\":\"cat_bowl\",\"amountRemaining\":{\"amount\":12,\"unit\":\"NO_UNITS\"},\"amountLastDispensed\":{\"amount\":13,\"unit\":\"NO_UNITS\"},\"isCurrentlyDispensing\":false},{\"itemName\":\"glass_1\",\"amountRemaining\":{\"amount\":14,\"unit\":\"NO_UNITS\"},\"amountLastDispensed\":{\"amount\":15,\"unit\":\"NO_UNITS\"},\"isCurrentlyDispensing\":false}]",
        "payloadType": "json",
        "x": 120,
        "y": 520,
        "wires": [
            [
                "a5782b1b.e120f8"
            ]
        ]
    },
    {
        "id": "b20005f.91069f8",
        "type": "inject",
        "z": "c0151475.218f98",
        "name": "Object Detection",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "ObjectDetection",
        "payload": "{\"named\":\"Alice\"}",
        "payloadType": "json",
        "x": 130,
        "y": 560,
        "wires": [
            [
                "a5782b1b.e120f8"
            ]
        ]
    },
    {
        "id": "53e3f7ca.522118",
        "type": "http response",
        "z": "c0151475.218f98",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 670,
        "y": 320,
        "wires": []
    },
    {
        "id": "7c508c49.aa5ec4",
        "type": "http in",
        "z": "c0151475.218f98",
        "name": "Payload",
        "url": "/payload",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 360,
        "y": 320,
        "wires": [
            [
                "9edf3963.39cb08",
                "63f3b303.94fadc"
            ]
        ]
    },
    {
        "id": "9edf3963.39cb08",
        "type": "function",
        "z": "c0151475.218f98",
        "name": "",
        "func": "msg = msg.payload;\nreturn [[msg, { \"topic\" : \"getState\"}]];\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 480,
        "y": 260,
        "wires": [
            [
                "a5782b1b.e120f8"
            ]
        ]
    },
    {
        "id": "63f3b303.94fadc",
        "type": "function",
        "z": "c0151475.218f98",
        "name": "",
        "func": "msg.payload = \"OK\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 520,
        "y": 320,
        "wires": [
            [
                "53e3f7ca.522118"
            ]
        ]
    },
    {
        "id": "4f63cf92.6ddc",
        "type": "inject",
        "z": "c0151475.218f98",
        "name": "AvailableArmLevels",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "AvailableArmLevels",
        "payload": "[{\"level_name\":\"L1\",\"level_values\":[{\"level_synonym\":[\"home and guarding\",\"SL1\"],\"lang\":\"en\"},{\"level_synonym\":[\"Allarme in casa\",\"SL1\"],\"lang\":\"it\"}]},{\"level_name\":\"L2\",\"level_values\":[{\"level_synonym\":[\"away and guarding\",\"SL2\"],\"lang\":\"en\"},{\"level_synonym\":[\"Allarme fuori casa\",\"SL2\"],\"lang\":\"it\"}]}]",
        "payloadType": "json",
        "x": 140,
        "y": 440,
        "wires": [
            [
                "a5782b1b.e120f8"
            ]
        ]
    },
    {
        "id": "39c0b7dd.7494c8",
        "type": "inject",
        "z": "c0151475.218f98",
        "name": "CameraStreamAuthToken",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "CameraStreamAuthToken",
        "payload": "Auth Token",
        "payloadType": "str",
        "x": 150,
        "y": 600,
        "wires": [
            [
                "a5782b1b.e120f8"
            ]
        ]
    },
    {
        "id": "e0237e8.572fe8",
        "type": "inject",
        "z": "c0151475.218f98",
        "name": "No CameraStreamAuthToken",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "10",
        "topic": "CameraStreamAuthToken",
        "payload": "",
        "payloadType": "str",
        "x": 160,
        "y": 640,
        "wires": [
            [
                "a5782b1b.e120f8"
            ]
        ]
    },
    {
        "id": "22b74d51.90e222",
        "type": "inject",
        "z": "c0151475.218f98",
        "name": "StatusReport",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "10",
        "topic": "StatusReport",
        "payload": "{\"blocking\":true,\"deviceTarget\":\"Cucina\",\"priority\":0,\"statusCode\":\"needsSoftwareUpdate\"}",
        "payloadType": "json",
        "x": 110,
        "y": 680,
        "wires": [
            [
                "a5782b1b.e120f8"
            ]
        ]
    },
    {
        "id": "95cd3aa8.be0218",
        "type": "inject",
        "z": "c0151475.218f98",
        "name": "StatusReport empty",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "10",
        "topic": "StatusReport",
        "payload": "[]",
        "payloadType": "json",
        "x": 130,
        "y": 720,
        "wires": [
            [
                "a5782b1b.e120f8"
            ]
        ]
    },
    {
        "id": "d6e38623.42fb68",
        "type": "inject",
        "z": "c0151475.218f98",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"topic\":\"\",\"payload\":{\"on\":true}}",
        "payloadType": "json",
        "x": 90,
        "y": 780,
        "wires": [
            [
                "f9b996e4.ab42c8"
            ]
        ]
    },
    {
        "id": "f9b996e4.ab42c8",
        "type": "http request",
        "z": "c0151475.218f98",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "localhost:1880/payload",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 260,
        "y": 780,
        "wires": [
            [
                "ddf30b0c.14e048"
            ]
        ]
    },
    {
        "id": "ddf30b0c.14e048",
        "type": "debug",
        "z": "c0151475.218f98",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 780,
        "wires": []
    }
]