examples/Washing machine (StartStop, RunCycle).json
[
    {
        "id": "0e719376538721a6",
        "type": "google-device",
        "z": "ba4ea2f93145cb4f",
        "client": "",
        "name": "Washing Machine",
        "nicknames": "",
        "topic": "",
        "online": true,
        "room_hint": "",
        "device_type": "WASHER",
        "trait_appselector": false,
        "trait_channel": false,
        "trait_inputselector": false,
        "trait_mediastate": false,
        "trait_onoff": false,
        "trait_transportcontrol": false,
        "trait_modes": false,
        "trait_volume": false,
        "trait_toggles": false,
        "trait_brightness": false,
        "trait_colorsetting": false,
        "appselector_file": "applications.json",
        "appselector_type": "str",
        "channel_file": "channels.json",
        "channel_type": "str",
        "inputselector_file": "inputs.json",
        "inputselector_type": "str",
        "command_only_input_selector": false,
        "ordered_inputs": false,
        "support_activity_state": false,
        "support_playback_state": false,
        "command_query_onoff": "",
        "supported_commands": [
            "CAPTION_CONTROL",
            "NEXT",
            "PAUSE",
            "PREVIOUS",
            "RESUME",
            "SEEK_RELATIVE",
            "SEEK_TO_POSITION",
            "SET_REPEAT",
            "SHUFFLE",
            "STOP"
        ],
        "volume_max_level": 100,
        "volume_can_mute_and_unmute": true,
        "volume_default_percentage": 40,
        "level_step_size": 1,
        "command_only_volume": false,
        "command_only_brightness": false,
        "command_only_colorsetting": false,
        "color_model": "temp",
        "temperature_min_k": 2000,
        "temperature_max_k": 9000,
        "modes_file": "modes.json",
        "modes_type": "str",
        "command_query_modes": "",
        "toggles_file": "toggles.json",
        "toggles_type": "str",
        "command_query_toggles": "",
        "trait_camerastream": false,
        "hls": "",
        "hls_app_id": "",
        "dash": "",
        "dash_app_id": "",
        "smooth_stream": "",
        "smooth_stream_app_id": "",
        "progressive_mp4": "",
        "progressive_mp4_app_id": "",
        "webrtc": "",
        "webrtc_offer": "",
        "webrtc_ice_servers": "",
        "webrtc_ice_servers_type": "str",
        "auth_token": "",
        "topic_filter": false,
        "passthru": false,
        "persistent_state": true,
        "trait_scene": false,
        "scene_reversible": true,
        "trait_timer": false,
        "trait_temperaturesetting": false,
        "max_timer_limit_sec": 86400,
        "command_only_timer": false,
        "available_thermostat_modes": [
            "off",
            "heat",
            "cool",
            "on",
            "heatcool",
            "auto",
            "fan-only",
            "purifier",
            "eco",
            "dry"
        ],
        "min_threshold_celsius": "10",
        "max_threshold_celsius": "32",
        "thermostat_temperature_unit": "C",
        "buffer_range_celsius": 2,
        "command_query_temperaturesetting": "",
        "trait_temperaturecontrol": false,
        "tc_min_threshold_celsius": 0,
        "tc_max_threshold_celsius": 40,
        "tc_temperature_step_celsius": 1,
        "tc_temperature_unit_for_ux": "C",
        "tc_command_query_temperaturecontrol": "",
        "trait_humiditysetting": false,
        "min_percent": 0,
        "max_percent": 100,
        "command_query_humiditysetting": "",
        "trait_dock": false,
        "trait_locator": false,
        "trait_lockunlock": false,
        "trait_reboot": false,
        "trait_openclose": false,
        "discrete_only_openclose": false,
        "open_direction": [],
        "command_query_openclose": "",
        "trait_startstop": true,
        "pausable": true,
        "available_zones": [],
        "trait_runcycle": true,
        "trait_softwareupdate": false,
        "trait_rotation": false,
        "supports_degrees": true,
        "supports_percent": true,
        "rotation_degrees_min": 0,
        "rotation_degrees_max": 360,
        "supports_continuous_rotation": false,
        "command_only_rotation": false,
        "trait_lighteffects": false,
        "default_sleep_duration": 1800,
        "default_wake_duration": 1800,
        "supported_effects": [
            "colorLoop",
            "sleep",
            "wake"
        ],
        "trait_statusreport": false,
        "trait_cook": false,
        "supported_cooking_modes": [],
        "food_presets_file": "foodPresets.json",
        "food_presets_type": "str",
        "trait_fanspeed": false,
        "reversible": false,
        "supports_fan_speed_percent": true,
        "fan_speeds_ordered": true,
        "command_only_fanspeed": false,
        "available_fan_speeds_file": "availableFanSpeeds.json",
        "available_fan_speeds_type": "str",
        "trait_sensorstate": false,
        "sensor_states_supported": [],
        "arm_levels_ordered": true,
        "trait_fill": false,
        "available_fill_levels_file": "availableFillLevels.json",
        "available_fill_levels_type": "str",
        "supports_fill_percent": false,
        "ordered_fill_levels": true,
        "trait_armdisarm": false,
        "available_arm_levels_file": "availableArmLevels.json",
        "available_arm_levels_type": "str",
        "trait_energystorage": false,
        "is_rechargeable": false,
        "query_only_energy_storage": false,
        "energy_storage_distance_unit_for_ux": "KILOMETERS",
        "trait_dispense": false,
        "supported_dispense_items_file": "supportedDispenseItems.json",
        "supported_dispense_items_type": "str",
        "supported_dispense_presets_file": "supportedDispensePresets.json",
        "supported_dispense_presets_type": "str",
        "trait_networkcontrol": false,
        "supports_enabling_guest_network": false,
        "supports_disabling_guest_network": false,
        "supports_getting_guest_network_password": false,
        "network_profiles": [],
        "supports_enabling_network_profile": false,
        "supports_disabling_network_profile": false,
        "supports_network_download_speedtest": false,
        "supports_network_upload_speedtest": false,
        "trait_objectdetection": false,
        "show_trait": "selected",
        "advanced_settings": true,
        "ct_appselector": "",
        "ct_armdisarm": "",
        "ct_brightness": "",
        "ct_camerastream": "",
        "ct_channel": "",
        "ct_colorsetting": "",
        "ct_cook": "",
        "ct_dispense": "",
        "ct_dock": "",
        "ct_energystorage": "",
        "ct_fanspeed": "",
        "ct_fill": "",
        "ct_humiditysetting": "",
        "ct_inputselector": "",
        "ct_lighteffects": "",
        "ct_locator": "",
        "ct_lockunlock": "",
        "ct_mediastate": "",
        "ct_modes": "",
        "ct_networkcontrol": "",
        "ct_objectdetection": "",
        "ct_onoff": "",
        "ct_openclose": "",
        "ct_reboot": "",
        "ct_rotation": "",
        "ct_runcycle": "",
        "ct_scene": "",
        "ct_sensorstate": "",
        "ct_softwareupdate": "",
        "ct_startstop": "",
        "ct_statusreport": "",
        "ct_temperaturecontrol": "",
        "ct_temperaturesetting": "",
        "ct_timer": "",
        "ct_toggles": "",
        "ct_transportcontrol": "",
        "ct_volume": "",
        "pin_appselector": "",
        "pin_armdisarm": "",
        "pin_brightness": "",
        "pin_camerastream": "",
        "pin_channel": "",
        "pin_colorsetting": "",
        "pin_cook": "",
        "pin_dispense": "",
        "pin_dock": "",
        "pin_energystorage": "",
        "pin_fanspeed": "",
        "pin_fill": "",
        "pin_humiditysetting": "",
        "pin_inputselector": "",
        "pin_lighteffects": "",
        "pin_locator": "",
        "pin_lockunlock": "",
        "pin_mediastate": "",
        "pin_modes": "",
        "pin_networkcontrol": "",
        "pin_objectdetection": "",
        "pin_onoff": "",
        "pin_openclose": "",
        "pin_reboot": "",
        "pin_rotation": "",
        "pin_runcycle": "",
        "pin_scene": "",
        "pin_sensorstate": "",
        "pin_softwareupdate": "",
        "pin_startstop": "",
        "pin_statusreport": "",
        "pin_temperaturecontrol": "",
        "pin_temperaturesetting": "",
        "pin_timer": "",
        "pin_toggles": "",
        "pin_transportcontrol": "",
        "pin_volume": "",
        "x": 790,
        "y": 1900,
        "wires": [
            []
        ]
    },
    {
        "id": "a271b6fa177d44e1",
        "type": "comment",
        "z": "ba4ea2f93145cb4f",
        "name": "Readme",
        "info": "Your device can proactively send a\nnotification to your speaker when\nit's done or when an error occurs.\n\nFor this to work, you need to open\nthe Google Home App, go to the settings\nof this specific device and enable\n\"Spoken Notifications\".",
        "x": 740,
        "y": 1860,
        "wires": []
    },
    {
        "id": "a3a87605e0f78da4",
        "type": "inject",
        "z": "ba4ea2f93145cb4f",
        "name": "\"Done\" notification",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "10",
        "topic": "RunCycle",
        "payload": "{\"status\":\"SUCCESS\",\"currentCycleRemainingTime\":0}",
        "payloadType": "json",
        "x": 490,
        "y": 1980,
        "wires": [
            [
                "0e719376538721a6"
            ]
        ]
    },
    {
        "id": "d4662150d52f1990",
        "type": "inject",
        "z": "ba4ea2f93145cb4f",
        "name": "\"Failure / Stuck\" notification",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "10",
        "topic": "RunCycle",
        "payload": "{\"status\":\"FAILURE\",\"errorCode\":\"deviceStuck\"}",
        "payloadType": "json",
        "x": 510,
        "y": 2020,
        "wires": [
            [
                "0e719376538721a6"
            ]
        ]
    },
    {
        "id": "b090fd099285ba69",
        "type": "inject",
        "z": "ba4ea2f93145cb4f",
        "name": "Started",
        "props": [
            {
                "p": "payload.isRunning",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 450,
        "y": 1780,
        "wires": [
            [
                "0e719376538721a6"
            ]
        ]
    },
    {
        "id": "8dfed6e681e8a687",
        "type": "inject",
        "z": "ba4ea2f93145cb4f",
        "name": "Stopped",
        "props": [
            {
                "p": "payload.isRunning",
                "v": "false",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 460,
        "y": 1820,
        "wires": [
            [
                "0e719376538721a6"
            ]
        ]
    },
    {
        "id": "e80523ec9331c353",
        "type": "inject",
        "z": "ba4ea2f93145cb4f",
        "name": "Paused",
        "props": [
            {
                "p": "payload.isPaused",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 450,
        "y": 1860,
        "wires": [
            [
                "0e719376538721a6"
            ]
        ]
    },
    {
        "id": "05810d0bcccc4514",
        "type": "inject",
        "z": "ba4ea2f93145cb4f",
        "name": "Unpaused",
        "props": [
            {
                "p": "payload.isPaused",
                "v": "false",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 460,
        "y": 1900,
        "wires": [
            [
                "0e719376538721a6"
            ]
        ]
    },
    {
        "id": "85641a7d6535ddab",
        "type": "inject",
        "z": "ba4ea2f93145cb4f",
        "name": "Currenty cycle",
        "props": [
            {
                "p": "payload.currentRunCycle.currentCycle",
                "v": "Spinning",
                "vt": "str"
            },
            {
                "p": "payload.currentRunCycle.currentTotalRemainingTime",
                "v": "900",
                "vt": "str"
            },
            {
                "p": "payload.currentRunCycle.currentCycleRemainingTime",
                "v": "600",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 470,
        "y": 1940,
        "wires": [
            [
                "0e719376538721a6"
            ]
        ]
    }
]